volumes/nodered/data/flows.json
[
    {
        "id": "02257ae2646d96ef",
        "type": "tab",
        "label": "Ambient Node Load",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b5f4cd107135a11e",
        "type": "tab",
        "label": "Ambient Node UI",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "48f48e1a750bbe34",
        "type": "tab",
        "label": "Ambient Node Logic",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e3ac824b73bfad1",
        "type": "tab",
        "label": "Nodos Simulados",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "90558da95fcd582f",
        "type": "tab",
        "label": "Telegram - Notification",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1cc1f1daa62850fd",
        "type": "tab",
        "label": "Telegram - Cmnds",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2ed4bce24e139aaa",
        "type": "tab",
        "label": "PRTG - Notification",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "707f5efe3e0b8cc5",
        "type": "tab",
        "label": "ElasticSearch - Eventos",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0232b745df08286e",
        "type": "tab",
        "label": "Azure IoT Hub",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a9c9090b.478498",
        "type": "tab",
        "label": "Dashboard Test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f8e5092665a76333",
        "type": "tab",
        "label": "Tests",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4092d94aafd6cd17",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "302f3b7f749a930c",
        "type": "group",
        "z": "02257ae2646d96ef",
        "name": "AmbientNode Load Data to Influxdb",
        "style": {
            "label": true
        },
        "nodes": [
            "2bc35069f124e8a4",
            "f6f1e81168df3fdb",
            "86b756a7e95cd260",
            "774d31b565a73345",
            "1ea844f44bc1d989",
            "cf8879e89c58e456"
        ],
        "x": 674,
        "y": 79,
        "w": 712,
        "h": 182
    },
    {
        "id": "6b4f40a380e1b29b",
        "type": "group",
        "z": "02257ae2646d96ef",
        "name": "Ambient Node Load Global Context",
        "style": {
            "label": true
        },
        "nodes": [
            "368b4da1fd01d5e3",
            "cbf524599c89cbfc",
            "e40f9d205dadbbf4",
            "f7a4da06b6902eb5",
            "1fd3039c9161105b",
            "2e31d29e399bc87c",
            "6aa9e6706363f7c8",
            "b4d55a54ddfdb854",
            "2f071d56609a36da",
            "8bc20a0db74fd10f",
            "8cad42e5caa3c8cf",
            "28ae9f5489879f6d",
            "03ea0366dc01d1b4",
            "606267ee03029397",
            "29b65b8a54d4f193",
            "136b516d963db7e1",
            "454bf8a2c8a90e99",
            "1fc25f175f93c963",
            "a9495453e3e6e475"
        ],
        "x": 14,
        "y": 79,
        "w": 652,
        "h": 622
    },
    {
        "id": "a3345b6191cf0ca3",
        "type": "group",
        "z": "b5f4cd107135a11e",
        "name": "Manual Commands",
        "style": {
            "label": true
        },
        "nodes": [
            "7d2ba8d5b1a238f8",
            "22558d407bf48ef3",
            "db55e69195f745d3",
            "cd663c11dd761536",
            "dcc38945b835167d",
            "a2ac410d9121aa8a",
            "7adc716b8cb98aeb",
            "e5f46430aec92848",
            "339820e0cf790291",
            "798d4426de1c1a72",
            "130be6cc825f7610",
            "64318a35f9c78939"
        ],
        "x": 14,
        "y": 79
    },
    {
        "id": "c227f8950cb88f50",
        "type": "group",
        "z": "b5f4cd107135a11e",
        "name": "Temperatures",
        "style": {
            "label": true
        },
        "nodes": [
            "fd61c4a6dce46366",
            "756aa8530b474f35",
            "8dc57713670adfd5",
            "d5c5f7a09339e1f0",
            "1651256d82900bdc",
            "b7809cfc23ffedc4",
            "6a1cc9c754b09448",
            "8b236b3be7ccb551"
        ],
        "x": 14,
        "y": 359
    },
    {
        "id": "870d531e70ec2ea1",
        "type": "group",
        "z": "1e3ac824b73bfad1",
        "name": "Mock Devices",
        "style": {
            "label": true
        },
        "nodes": [
            "5e910d159d33ab9c",
            "5e3e591f44d77637",
            "4e99ab639ebc6671"
        ],
        "x": 34,
        "y": 79
    },
    {
        "id": "e89d28e1fbb153a2",
        "type": "group",
        "z": "48f48e1a750bbe34",
        "name": "Ciclado De Aires Acondicionados",
        "style": {
            "label": true
        },
        "nodes": [
            "125242d606a393df",
            "ac9ea691e66b607c",
            "5656c80be2b1a470",
            "bbfc94b844b2da48",
            "49bcb7b0e7b56257",
            "7f57f1138f02384e",
            "6644b6f145ebcf8e"
        ],
        "x": 14,
        "y": 199
    },
    {
        "id": "9a1a315f29dc0358",
        "type": "group",
        "z": "48f48e1a750bbe34",
        "name": "Lectura de Parámetros del Nodo",
        "style": {
            "label": true
        },
        "nodes": [
            "b5c468606006ad2d",
            "294e1c093ef01f17"
        ],
        "x": 14,
        "y": 79
    },
    {
        "id": "14394c2af939e9e1",
        "type": "group",
        "z": "1e3ac824b73bfad1",
        "name": "User Interface",
        "style": {
            "label": true
        },
        "nodes": [
            "bc157d3649ac9c61",
            "a9097e253705ec52",
            "937f50a9c86d9e03",
            "7369eca0cbd5dfe8",
            "b8c6c034d7caf345",
            "975bf8fcaf3f5430",
            "da0db2689b538e61",
            "511f9042df1c8bae",
            "9426dc307b9863f8",
            "cee68504b57d1463",
            "898badd9f5a20b05",
            "66d5dd69aa1aa1e3",
            "13275a10ad016b57",
            "19ddb4c3566689c0",
            "584ce14c3eda63b4",
            "e6ec57aa7a3f5019",
            "77d4ba0d623a6267",
            "9f74a669b97dc5b3",
            "e1d99178a0b1f00a",
            "3ee48f13c0d58e64",
            "df8debdcd71d39bc"
        ],
        "x": 34,
        "y": 179
    },
    {
        "id": "71a7fdb019368107",
        "type": "group",
        "z": "b5f4cd107135a11e",
        "name": "AC Cycling Interface",
        "style": {
            "label": true
        },
        "nodes": [
            "5f8db8831dd4bd49",
            "cf7b9b541833bb2e",
            "a24cb4b1d038639d",
            "6488b5b7cb3035c7",
            "f19bf75d379e3f29",
            "364d2a0bbf39894f",
            "caa6e6df5b11a683"
        ],
        "x": 14,
        "y": 579
    },
    {
        "id": "ab485b9a039594cc",
        "type": "group",
        "z": "b5f4cd107135a11e",
        "name": "Limits Setting Interface",
        "style": {
            "label": true
        },
        "nodes": [
            "8cbc7a805a357755",
            "d86291c4723cf292",
            "0683be8c27475d72",
            "2a885d8a99e45a9e",
            "e0eae304a450d6e3",
            "805ffea64037c536",
            "e61cfb598468a7d5",
            "c870f35ef97feaa8",
            "0f1549262a55b82d",
            "5dc698db5b709c69",
            "fc697ee0793a0321",
            "e57786072a0896ea",
            "e357737660c835dd"
        ],
        "x": 14,
        "y": 739
    },
    {
        "id": "6727a5c3d4ab908b",
        "type": "group",
        "z": "48f48e1a750bbe34",
        "name": "Lógica de Alta Temperatura",
        "style": {
            "label": true
        },
        "nodes": [
            "a4d130362ee89301",
            "3155d3a3cedff83a",
            "20ac63c397656c87",
            "e2dc7639cd38a964",
            "1902c6e68f4333e8"
        ],
        "x": 14,
        "y": 433
    },
    {
        "id": "e2dc7639cd38a964",
        "type": "group",
        "z": "48f48e1a750bbe34",
        "g": "6727a5c3d4ab908b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "5e69a11cc1e07f2d",
            "2922d376c0e13ed1",
            "a26a618653f75aac",
            "7b767043511cbd96",
            "b70db9731536c25c",
            "b08d2a69bb648d26",
            "6490530dbeddfcd9",
            "2dd7c283383a19a9",
            "2319483598506c9d",
            "f83260c77d963659",
            "a36e1ca208b4db98",
            "123e3e0414b4c5dd",
            "c489f75632d97ea6",
            "b29d654e5cd48324",
            "5d37735631998726",
            "64029eff9f00f41f",
            "ad23b449fc79408a",
            "4354ed783508f509",
            "0f1a89f3bf3123fa",
            "2623a9896dea98ef",
            "19761643cf278dd4",
            "b064bee0fd32b4a7",
            "b55867e4ca8c12c0",
            "75759497c0b3b05d",
            "38e3fd54908ffb1e",
            "c0915a1eaa82d18a",
            "848947ef4b0ee2fc",
            "2c5e2191e395d6d2",
            "51e7732f61cd6934",
            "0be0027c03059808",
            "2c761681ee568669",
            "88cbeab9725d7b2b",
            "13e38cebdc6d36ee",
            "81285f405c3e43ae",
            "832e1e16d88c2609",
            "135741652f9f66e1",
            "466b9202fc44260d",
            "849378bd64c8c75d",
            "f9a5ef6fe14ce2ae",
            "9fd07f1be7731ad5"
        ],
        "x": 414,
        "y": 459
    },
    {
        "id": "1902c6e68f4333e8",
        "type": "group",
        "z": "48f48e1a750bbe34",
        "g": "6727a5c3d4ab908b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "1e30e6617135354a",
            "31692f0e1e7d30be",
            "2759851e1b45f83f",
            "c28e916db0d698d7",
            "7f56fddfd9c767ab",
            "c099ebca7b308bec",
            "3de95f44cd7c2918",
            "edd813e713149ce4",
            "04691b57bc0a1d32",
            "dff22c97683f3074",
            "8f568f3b5594202c",
            "188b8a49bd411a50",
            "bed96df9e70b1a8a",
            "9eb109cdc16ec0c7",
            "026bd795e9d32197",
            "207e9cf10afff8e9",
            "14d0cd94abf529fd",
            "05bfa87a70d53da5",
            "e8ec25ad8a53b533",
            "706cbe45f745c45b",
            "7e56c775c78aa003",
            "40c62681cf76d064",
            "94a8c5f48fa191d8"
        ],
        "x": 414,
        "y": 1319
    },
    {
        "id": "c893bc38c4b5fced",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": "8086",
        "protocol": "http",
        "database": "database",
        "name": "Influxdb",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "rejectUnauthorized": true
    },
    {
        "id": "9c1101368656b666",
        "type": "mqtt-broker",
        "name": "",
        "broker": "Mosquitto",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "24223c3553853dd7",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Estación Demo Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "menu",
            "lockMenu": "false",
            "allowTempTheme": "none",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d0b72a74.f9d968",
        "type": "ui_group",
        "name": "Manual Commands",
        "tab": "e01b6f.a9d07c9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "e01b6f.a9d07c9",
        "type": "ui_tab",
        "name": "Ambient Node",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7007dbc2b6b6c71a",
        "type": "ui_group",
        "name": "Main 220V AC",
        "tab": "34bf29b97e4a3395",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "34bf29b97e4a3395",
        "type": "ui_tab",
        "name": "Energy Node",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "de36bb726f99ec30",
        "type": "ui_tab",
        "d": true,
        "name": "Test Tab",
        "icon": "dashboard",
        "order": 3,
        "disabled": true,
        "hidden": true
    },
    {
        "id": "7055536a9c320af4",
        "type": "ui_group",
        "name": "Test Group",
        "tab": "de36bb726f99ec30",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4737ecab2363c75f",
        "type": "ui_group",
        "name": "Temperatures",
        "tab": "e01b6f.a9d07c9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "94c463ca1ae3467b",
        "type": "ui_group",
        "name": "48V DC",
        "tab": "34bf29b97e4a3395",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "1eb506a295476619",
        "type": "ui_group",
        "name": "Batteries",
        "tab": "34bf29b97e4a3395",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "607797ee86fa1498",
        "type": "telegram bot",
        "botname": "repe_demo_bot",
        "usernames": "",
        "chatids": "-856965857, 1533582988",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "5000",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "65210b1f2faf97eb",
        "type": "ui_group",
        "name": "Limit Settings",
        "tab": "e01b6f.a9d07c9",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": true,
        "className": ""
    },
    {
        "id": "667a3bfe6d02ada6",
        "type": "prtg-config",
        "host": "192.168.0.21",
        "port": "5051",
        "usetls": true,
        "ignoreUnsafeEndpoints": true,
        "followredirect": true
    },
    {
        "id": "88dd382e2495dfae",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "b64a888cfcb95443",
        "type": "mqtt-broker",
        "name": "Azure IoT-Hub",
        "broker": "ssl://stationsAzureHub.azure-devices.net",
        "port": "8883",
        "tls": "88dd382e2495dfae",
        "clientid": "DemoStationHub",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "150d27d47bedee72",
        "type": "elasticsearch-config",
        "name": "ElasticSearch",
        "server": "http://elasticsearch:9200",
        "timeout": "5000",
        "apiVersion": "_default"
    },
    {
        "id": "2bc35069f124e8a4",
        "type": "influxdb out",
        "z": "02257ae2646d96ef",
        "g": "302f3b7f749a930c",
        "influxdb": "c893bc38c4b5fced",
        "name": "Sensors Bucket",
        "measurement": "",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "TGN",
        "bucket": "sensors",
        "x": 1240,
        "y": 140,
        "wires": []
    },
    {
        "id": "f6f1e81168df3fdb",
        "type": "mqtt in",
        "z": "02257ae2646d96ef",
        "g": "302f3b7f749a930c",
        "name": "Sensor Data",
        "topic": "tele/ambientNode/SENSOR",
        "qos": "2",
        "datatype": "json",
        "broker": "9c1101368656b666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 770,
        "y": 120,
        "wires": [
            [
                "774d31b565a73345",
                "1ea844f44bc1d989",
                "cf8879e89c58e456"
            ]
        ]
    },
    {
        "id": "86b756a7e95cd260",
        "type": "debug",
        "z": "02257ae2646d96ef",
        "g": "302f3b7f749a930c",
        "name": "Influxdb Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1250,
        "y": 220,
        "wires": []
    },
    {
        "id": "774d31b565a73345",
        "type": "change",
        "z": "02257ae2646d96ef",
        "g": "302f3b7f749a930c",
        "name": "inside Temperature",
        "rules": [
            {
                "t": "set",
                "p": "tags.location",
                "pt": "msg",
                "to": "inside",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "tags.id",
                "pt": "msg",
                "to": "payload[\"DS18B20-1\"].Id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fields.temperature",
                "pt": "msg",
                "to": "$number(msg.payload.\"DS18B20-1\".Temperature)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "measurement",
                "pt": "msg",
                "to": "$split(msg.topic, '/')[1]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 990,
        "y": 160,
        "wires": [
            [
                "2bc35069f124e8a4",
                "86b756a7e95cd260"
            ]
        ]
    },
    {
        "id": "1ea844f44bc1d989",
        "type": "change",
        "z": "02257ae2646d96ef",
        "g": "302f3b7f749a930c",
        "name": "outside Temperature",
        "rules": [
            {
                "t": "set",
                "p": "tags.location",
                "pt": "msg",
                "to": "outside",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "tags.id",
                "pt": "msg",
                "to": "payload[\"DS18B20-2\"].Id",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "fields.temperature",
                "pt": "msg",
                "to": "$number(msg.payload.\"DS18B20-2\".Temperature)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$append(fields,tags)",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "measurement",
                "pt": "msg",
                "to": "$split(msg.topic, '/')[1]",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 120,
        "wires": [
            [
                "2bc35069f124e8a4",
                "86b756a7e95cd260"
            ]
        ]
    },
    {
        "id": "cf8879e89c58e456",
        "type": "debug",
        "z": "02257ae2646d96ef",
        "g": "302f3b7f749a930c",
        "name": "MQTT Message",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 220,
        "wires": []
    },
    {
        "id": "2c246807de2f23d4",
        "type": "comment",
        "z": "02257ae2646d96ef",
        "name": "",
        "info": "",
        "x": 80,
        "y": 40,
        "wires": []
    },
    {
        "id": "368b4da1fd01d5e3",
        "type": "mqtt in",
        "z": "02257ae2646d96ef",
        "g": "6b4f40a380e1b29b",
        "name": "LWT",
        "topic": "tele/ambientNode/LWT",
        "qos": "2",
        "datatype": "utf8",
        "broker": "9c1101368656b666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 300,
        "wires": [
            [
                "8bc20a0db74fd10f"
            ]
        ]
    },
    {
        "id": "cbf524599c89cbfc",
        "type": "mqtt in",
        "z": "02257ae2646d96ef",
        "g": "6b4f40a380e1b29b",
        "name": "State",
        "topic": "tele/ambientNode/STATE",
        "qos": "2",
        "datatype": "json",
        "broker": "9c1101368656b666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 360,
        "wires": [
            [
                "8cad42e5caa3c8cf"
            ]
        ]
    },
    {
        "id": "e40f9d205dadbbf4",
        "type": "mqtt in",
        "z": "02257ae2646d96ef",
        "g": "6b4f40a380e1b29b",
        "name": "Info 1",
        "topic": "tele/ambientNode/INFO1",
        "qos": "2",
        "datatype": "json",
        "broker": "9c1101368656b666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 120,
        "wires": [
            [
                "6aa9e6706363f7c8"
            ]
        ]
    },
    {
        "id": "1fd3039c9161105b",
        "type": "mqtt in",
        "z": "02257ae2646d96ef",
        "g": "6b4f40a380e1b29b",
        "name": "Info 3",
        "topic": "tele/ambientNode/INFO3",
        "qos": "2",
        "datatype": "json",
        "broker": "9c1101368656b666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 240,
        "wires": [
            [
                "b4d55a54ddfdb854"
            ]
        ]
    },
    {
        "id": "f7a4da06b6902eb5",
        "type": "mqtt in",
        "z": "02257ae2646d96ef",
        "g": "6b4f40a380e1b29b",
        "name": "Info 2",
        "topic": "tele/ambientNode/INFO2",
        "qos": "2",
        "datatype": "json",
        "broker": "9c1101368656b666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 180,
        "wires": [
            [
                "2f071d56609a36da"
            ]
        ]
    },
    {
        "id": "2e31d29e399bc87c",
        "type": "debug",
        "z": "02257ae2646d96ef",
        "g": "6b4f40a380e1b29b",
        "name": "Ambient Node Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "6aa9e6706363f7c8",
        "type": "change",
        "z": "02257ae2646d96ef",
        "g": "6b4f40a380e1b29b",
        "name": "Info 1",
        "rules": [
            {
                "t": "set",
                "p": "ambientNode.info1",
                "pt": "global",
                "to": "payload.Info1",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 120,
        "wires": [
            [
                "2e31d29e399bc87c"
            ]
        ]
    },
    {
        "id": "2f071d56609a36da",
        "type": "change",
        "z": "02257ae2646d96ef",
        "g": "6b4f40a380e1b29b",
        "name": "Info 2",
        "rules": [
            {
                "t": "set",
                "p": "ambientNode.info2",
                "pt": "global",
                "to": "payload.Info2",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "2e31d29e399bc87c"
            ]
        ]
    },
    {
        "id": "b4d55a54ddfdb854",
        "type": "change",
        "z": "02257ae2646d96ef",
        "g": "6b4f40a380e1b29b",
        "name": "Info 3",
        "rules": [
            {
                "t": "set",
                "p": "ambientNode.info3",
                "pt": "global",
                "to": "payload.Info3",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 240,
        "wires": [
            [
                "2e31d29e399bc87c"
            ]
        ]
    },
    {
        "id": "8bc20a0db74fd10f",
        "type": "change",
        "z": "02257ae2646d96ef",
        "g": "6b4f40a380e1b29b",
        "name": "LWT",
        "rules": [
            {
                "t": "set",
                "p": "ambientNode.LWT",
                "pt": "global",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 300,
        "wires": [
            [
                "2e31d29e399bc87c"
            ]
        ]
    },
    {
        "id": "8cad42e5caa3c8cf",
        "type": "change",
        "z": "02257ae2646d96ef",
        "g": "6b4f40a380e1b29b",
        "name": "State Data",
        "rules": [
            {
                "t": "set",
                "p": "ambientNode.state",
                "pt": "global",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 360,
        "wires": [
            [
                "2e31d29e399bc87c"
            ]
        ]
    },
    {
        "id": "28ae9f5489879f6d",
        "type": "mqtt in",
        "z": "02257ae2646d96ef",
        "g": "6b4f40a380e1b29b",
        "name": "Sensor",
        "topic": "tele/ambientNode/SENSOR",
        "qos": "2",
        "datatype": "json",
        "broker": "9c1101368656b666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 90,
        "y": 420,
        "wires": [
            [
                "03ea0366dc01d1b4"
            ]
        ]
    },
    {
        "id": "03ea0366dc01d1b4",
        "type": "change",
        "z": "02257ae2646d96ef",
        "g": "6b4f40a380e1b29b",
        "name": "Sensor Data",
        "rules": [
            {
                "t": "set",
                "p": "ambientNode.sensor",
                "pt": "global",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 420,
        "wires": [
            [
                "2e31d29e399bc87c"
            ]
        ]
    },
    {
        "id": "606267ee03029397",
        "type": "mqtt in",
        "z": "02257ae2646d96ef",
        "g": "6b4f40a380e1b29b",
        "name": "Power 1 - Air Conditioner",
        "topic": "stat/ambientNode/POWER1",
        "qos": "2",
        "datatype": "utf8",
        "broker": "9c1101368656b666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 480,
        "wires": [
            [
                "29b65b8a54d4f193"
            ]
        ]
    },
    {
        "id": "29b65b8a54d4f193",
        "type": "change",
        "z": "02257ae2646d96ef",
        "g": "6b4f40a380e1b29b",
        "name": "Power 1 Data",
        "rules": [
            {
                "t": "set",
                "p": "ambientNode.state.POWER1",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 480,
        "wires": [
            [
                "2e31d29e399bc87c"
            ]
        ]
    },
    {
        "id": "136b516d963db7e1",
        "type": "change",
        "z": "02257ae2646d96ef",
        "g": "6b4f40a380e1b29b",
        "name": "Power 3 Data",
        "rules": [
            {
                "t": "set",
                "p": "ambientNode.state.POWER3",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 600,
        "wires": [
            [
                "2e31d29e399bc87c"
            ]
        ]
    },
    {
        "id": "454bf8a2c8a90e99",
        "type": "mqtt in",
        "z": "02257ae2646d96ef",
        "g": "6b4f40a380e1b29b",
        "name": "Power 3 - Shutters",
        "topic": "stat/ambientNode/POWER3",
        "qos": "2",
        "datatype": "utf8",
        "broker": "9c1101368656b666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 600,
        "wires": [
            [
                "136b516d963db7e1"
            ]
        ]
    },
    {
        "id": "a9495453e3e6e475",
        "type": "change",
        "z": "02257ae2646d96ef",
        "g": "6b4f40a380e1b29b",
        "name": "Power 4 Data",
        "rules": [
            {
                "t": "set",
                "p": "ambientNode.state.POWER4",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 660,
        "wires": [
            [
                "2e31d29e399bc87c"
            ]
        ]
    },
    {
        "id": "1fc25f175f93c963",
        "type": "mqtt in",
        "z": "02257ae2646d96ef",
        "g": "6b4f40a380e1b29b",
        "name": "Power 4 - Fan",
        "topic": "stat/ambientNode/POWER4",
        "qos": "2",
        "datatype": "utf8",
        "broker": "9c1101368656b666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 660,
        "wires": [
            [
                "a9495453e3e6e475"
            ]
        ]
    },
    {
        "id": "f275915fa5beed7d",
        "type": "change",
        "z": "02257ae2646d96ef",
        "name": "Power 2 Data",
        "rules": [
            {
                "t": "set",
                "p": "ambientNode.state.POWER2",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4e223f3f0fc3fa08",
        "type": "mqtt in",
        "z": "02257ae2646d96ef",
        "name": "Power 2 - Air Conditioner",
        "topic": "stat/ambientNode/POWER2",
        "qos": "2",
        "datatype": "utf8",
        "broker": "9c1101368656b666",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 540,
        "wires": [
            [
                "f275915fa5beed7d"
            ]
        ]
    },
    {
        "id": "7d2ba8d5b1a238f8",
        "type": "inject",
        "z": "b5f4cd107135a11e",
        "g": "a3345b6191cf0ca3",
        "name": "AC Unit 1 State",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ambientNode.state.POWER1",
        "payloadType": "global",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "dcc38945b835167d"
            ]
        ]
    },
    {
        "id": "22558d407bf48ef3",
        "type": "inject",
        "z": "b5f4cd107135a11e",
        "g": "a3345b6191cf0ca3",
        "name": "AC Unit 2 State",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ambientNode.state.POWER2",
        "payloadType": "global",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "a2ac410d9121aa8a"
            ]
        ]
    },
    {
        "id": "db55e69195f745d3",
        "type": "inject",
        "z": "b5f4cd107135a11e",
        "g": "a3345b6191cf0ca3",
        "name": "Shutters State",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ambientNode.state.POWER3",
        "payloadType": "global",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "7adc716b8cb98aeb"
            ]
        ]
    },
    {
        "id": "cd663c11dd761536",
        "type": "inject",
        "z": "b5f4cd107135a11e",
        "g": "a3345b6191cf0ca3",
        "name": "Fan State",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ambientNode.state.POWER4",
        "payloadType": "global",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "e5f46430aec92848"
            ]
        ]
    },
    {
        "id": "dcc38945b835167d",
        "type": "ui_switch",
        "z": "b5f4cd107135a11e",
        "g": "a3345b6191cf0ca3",
        "name": "AC Unit 1 Switch",
        "label": "AC Unit 1",
        "tooltip": "Turn ON/OFF AC Unit 1",
        "group": "d0b72a74.f9d968",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 120,
        "wires": [
            [
                "339820e0cf790291"
            ]
        ]
    },
    {
        "id": "a2ac410d9121aa8a",
        "type": "ui_switch",
        "z": "b5f4cd107135a11e",
        "g": "a3345b6191cf0ca3",
        "name": "AC Unit 2 Switch",
        "label": "AC Unit 2",
        "tooltip": "Turn ON/OFF AC Unit 2",
        "group": "d0b72a74.f9d968",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 370,
        "y": 180,
        "wires": [
            [
                "798d4426de1c1a72"
            ]
        ]
    },
    {
        "id": "7adc716b8cb98aeb",
        "type": "ui_switch",
        "z": "b5f4cd107135a11e",
        "g": "a3345b6191cf0ca3",
        "name": "Shutters Switch",
        "label": "Shutters",
        "tooltip": "Turn ON/OFF Shutters",
        "group": "d0b72a74.f9d968",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 360,
        "y": 240,
        "wires": [
            [
                "130be6cc825f7610"
            ]
        ]
    },
    {
        "id": "e5f46430aec92848",
        "type": "ui_switch",
        "z": "b5f4cd107135a11e",
        "g": "a3345b6191cf0ca3",
        "name": "Fan Switch",
        "label": "Fan",
        "tooltip": "Turn ON/OFF AC Fan",
        "group": "d0b72a74.f9d968",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "decouple": "true",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 350,
        "y": 300,
        "wires": [
            [
                "64318a35f9c78939"
            ]
        ]
    },
    {
        "id": "339820e0cf790291",
        "type": "mqtt out",
        "z": "b5f4cd107135a11e",
        "g": "a3345b6191cf0ca3",
        "name": "POWER1 Cmnd",
        "topic": "cmnd/ambientNode/POWER1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c1101368656b666",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "798d4426de1c1a72",
        "type": "mqtt out",
        "z": "b5f4cd107135a11e",
        "g": "a3345b6191cf0ca3",
        "name": "POWER2 Cmnd",
        "topic": "cmnd/ambientNode/POWER2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c1101368656b666",
        "x": 580,
        "y": 180,
        "wires": []
    },
    {
        "id": "130be6cc825f7610",
        "type": "mqtt out",
        "z": "b5f4cd107135a11e",
        "g": "a3345b6191cf0ca3",
        "name": "POWER3 Cmnd",
        "topic": "cmnd/ambientNode/POWER3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c1101368656b666",
        "x": 580,
        "y": 240,
        "wires": []
    },
    {
        "id": "64318a35f9c78939",
        "type": "mqtt out",
        "z": "b5f4cd107135a11e",
        "g": "a3345b6191cf0ca3",
        "name": "POWER4 Cmnd",
        "topic": "cmnd/ambientNode/POWER4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c1101368656b666",
        "x": 580,
        "y": 300,
        "wires": []
    },
    {
        "id": "fd61c4a6dce46366",
        "type": "ui_gauge",
        "z": "b5f4cd107135a11e",
        "g": "c227f8950cb88f50",
        "name": "Inside Temperature Gauge",
        "group": "4737ecab2363c75f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Inside Temperature",
        "label": "°C",
        "format": "{{value | number:1}} °C",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 580,
        "y": 400,
        "wires": []
    },
    {
        "id": "756aa8530b474f35",
        "type": "inject",
        "z": "b5f4cd107135a11e",
        "g": "c227f8950cb88f50",
        "name": "DS18B20-1  Inside Temperature",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ambientNode.sensor[\"DS18B20-1\"].Temperature",
        "payloadType": "global",
        "x": 200,
        "y": 400,
        "wires": [
            [
                "fd61c4a6dce46366"
            ]
        ]
    },
    {
        "id": "8dc57713670adfd5",
        "type": "inject",
        "z": "b5f4cd107135a11e",
        "g": "c227f8950cb88f50",
        "name": "DS18B20-2  Ouside Temperature",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "15",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ambientNode.sensor[\"DS18B20-2\"].Temperature",
        "payloadType": "global",
        "x": 200,
        "y": 520,
        "wires": [
            [
                "d5c5f7a09339e1f0"
            ]
        ]
    },
    {
        "id": "d5c5f7a09339e1f0",
        "type": "ui_gauge",
        "z": "b5f4cd107135a11e",
        "g": "c227f8950cb88f50",
        "name": "Outside Temperature Gauge",
        "group": "4737ecab2363c75f",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Outside Temperature",
        "label": "°C",
        "format": "{{value | number:1}} °C",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "30",
        "seg2": "40",
        "className": "",
        "x": 580,
        "y": 520,
        "wires": []
    },
    {
        "id": "5af69b57db8c06bc",
        "type": "comment",
        "z": "b5f4cd107135a11e",
        "name": "User Interface for Ambient Node",
        "info": "",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "5f8db8831dd4bd49",
        "type": "ui_switch",
        "z": "b5f4cd107135a11e",
        "g": "71a7fdb019368107",
        "name": "Enable AC Cycling",
        "label": "AC Cycling Enabled",
        "tooltip": "",
        "group": "d0b72a74.f9d968",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ENABLE",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "DISABLE",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 330,
        "y": 620,
        "wires": [
            [
                "f19bf75d379e3f29"
            ]
        ]
    },
    {
        "id": "cf7b9b541833bb2e",
        "type": "link out",
        "z": "b5f4cd107135a11e",
        "g": "71a7fdb019368107",
        "name": "AC Cycling Enable - UI",
        "mode": "link",
        "links": [
            "49bcb7b0e7b56257",
            "46e1238387f2cdc9"
        ],
        "x": 795,
        "y": 620,
        "wires": []
    },
    {
        "id": "a24cb4b1d038639d",
        "type": "inject",
        "z": "b5f4cd107135a11e",
        "g": "71a7fdb019368107",
        "name": "Cycling State",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "ambientNode.parameters.ACUnitRotation.state",
        "payloadType": "global",
        "x": 140,
        "y": 620,
        "wires": [
            [
                "5f8db8831dd4bd49"
            ]
        ]
    },
    {
        "id": "6488b5b7cb3035c7",
        "type": "change",
        "z": "b5f4cd107135a11e",
        "g": "71a7fdb019368107",
        "name": "Move msg",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "state",
                "tot": "msg"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 620,
        "wires": [
            [
                "cf7b9b541833bb2e"
            ]
        ]
    },
    {
        "id": "f19bf75d379e3f29",
        "type": "rbe",
        "z": "b5f4cd107135a11e",
        "g": "71a7fdb019368107",
        "name": "Filter Same Msg",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 520,
        "y": 620,
        "wires": [
            [
                "6488b5b7cb3035c7"
            ]
        ]
    },
    {
        "id": "364d2a0bbf39894f",
        "type": "link in",
        "z": "b5f4cd107135a11e",
        "g": "71a7fdb019368107",
        "name": "AC Cycling Time Left - UI",
        "links": [
            "7f57f1138f02384e",
            "2c869bd12051fb36"
        ],
        "x": 185,
        "y": 680,
        "wires": [
            [
                "caa6e6df5b11a683"
            ]
        ]
    },
    {
        "id": "caa6e6df5b11a683",
        "type": "ui_text",
        "z": "b5f4cd107135a11e",
        "g": "71a7fdb019368107",
        "group": "d0b72a74.f9d968",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "AC Cycling Time Left",
        "label": "Time Left",
        "format": "{{msg.payload}} seg",
        "layout": "row-spread",
        "className": "",
        "x": 340,
        "y": 680,
        "wires": []
    },
    {
        "id": "1651256d82900bdc",
        "type": "function",
        "z": "b5f4cd107135a11e",
        "g": "c227f8950cb88f50",
        "name": "Limits High/HighHigh",
        "func": "let low  = global.get(\"ambientNode.parameters.limits.temperature.inside.high\") - 0.1;\nlet high = global.get(\"ambientNode.parameters.limits.temperature.inside.high-high\") - 0.1;\n\nmsg = {ui_control:{seg1: low, seg2:high}};\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 440,
        "wires": [
            [
                "fd61c4a6dce46366"
            ]
        ]
    },
    {
        "id": "b7809cfc23ffedc4",
        "type": "inject",
        "z": "b5f4cd107135a11e",
        "g": "c227f8950cb88f50",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 440,
        "wires": [
            [
                "1651256d82900bdc",
                "6a1cc9c754b09448"
            ]
        ]
    },
    {
        "id": "6a1cc9c754b09448",
        "type": "function",
        "z": "b5f4cd107135a11e",
        "g": "c227f8950cb88f50",
        "name": "Limits High/HighHigh",
        "func": "let low  = global.get(\"ambientNode.parameters.limits.temperature.outside.high\") - 0.1;\nlet high = global.get(\"ambientNode.parameters.limits.temperature.outside.high-high\") - 0.1;\n\nmsg = {ui_control:{seg1: low, seg2:high}};\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 480,
        "wires": [
            [
                "d5c5f7a09339e1f0"
            ]
        ]
    },
    {
        "id": "8cbc7a805a357755",
        "type": "ui_text_input",
        "z": "b5f4cd107135a11e",
        "g": "ab485b9a039594cc",
        "name": "",
        "label": "Inside Temperature High",
        "tooltip": "",
        "group": "65210b1f2faf97eb",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "1000",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 550,
        "y": 780,
        "wires": [
            [
                "5dc698db5b709c69"
            ]
        ]
    },
    {
        "id": "d86291c4723cf292",
        "type": "ui_text_input",
        "z": "b5f4cd107135a11e",
        "g": "ab485b9a039594cc",
        "name": "",
        "label": "Inside Temperature High High",
        "tooltip": "",
        "group": "65210b1f2faf97eb",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "1000",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 570,
        "y": 820,
        "wires": [
            [
                "fc697ee0793a0321"
            ]
        ]
    },
    {
        "id": "0683be8c27475d72",
        "type": "ui_text_input",
        "z": "b5f4cd107135a11e",
        "g": "ab485b9a039594cc",
        "name": "",
        "label": "OutsideTemperature High",
        "tooltip": "",
        "group": "65210b1f2faf97eb",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "1000",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 550,
        "y": 860,
        "wires": [
            [
                "e57786072a0896ea"
            ]
        ]
    },
    {
        "id": "2a885d8a99e45a9e",
        "type": "ui_text_input",
        "z": "b5f4cd107135a11e",
        "g": "ab485b9a039594cc",
        "name": "",
        "label": "Outside Temperature High High",
        "tooltip": "",
        "group": "65210b1f2faf97eb",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": "1000",
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 570,
        "y": 900,
        "wires": [
            [
                "e357737660c835dd"
            ]
        ]
    },
    {
        "id": "e0eae304a450d6e3",
        "type": "change",
        "z": "b5f4cd107135a11e",
        "g": "ab485b9a039594cc",
        "name": "Set Inside High",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ambientNode.parameters.limits.temperature.inside.high",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 780,
        "wires": [
            [
                "8cbc7a805a357755"
            ]
        ]
    },
    {
        "id": "805ffea64037c536",
        "type": "inject",
        "z": "b5f4cd107135a11e",
        "g": "ab485b9a039594cc",
        "name": "start",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 840,
        "wires": [
            [
                "e0eae304a450d6e3",
                "e61cfb598468a7d5",
                "0f1549262a55b82d",
                "c870f35ef97feaa8"
            ]
        ]
    },
    {
        "id": "e61cfb598468a7d5",
        "type": "change",
        "z": "b5f4cd107135a11e",
        "g": "ab485b9a039594cc",
        "name": "Set Inside High-High",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ambientNode.parameters.limits.temperature.inside[\"high-high\"]",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 820,
        "wires": [
            [
                "d86291c4723cf292"
            ]
        ]
    },
    {
        "id": "c870f35ef97feaa8",
        "type": "change",
        "z": "b5f4cd107135a11e",
        "g": "ab485b9a039594cc",
        "name": "Set Ouside High-High",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ambientNode.parameters.limits.temperature.outside[\"high-high\"]",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 900,
        "wires": [
            [
                "2a885d8a99e45a9e"
            ]
        ]
    },
    {
        "id": "0f1549262a55b82d",
        "type": "change",
        "z": "b5f4cd107135a11e",
        "g": "ab485b9a039594cc",
        "name": "Set Outside High",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ambientNode.parameters.limits.temperature.outside.high",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 860,
        "wires": [
            [
                "0683be8c27475d72"
            ]
        ]
    },
    {
        "id": "5dc698db5b709c69",
        "type": "change",
        "z": "b5f4cd107135a11e",
        "g": "ab485b9a039594cc",
        "name": "Set New Inside High",
        "rules": [
            {
                "t": "set",
                "p": "ambientNode.parameters.limits.temperature.inside.high",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 780,
        "wires": [
            []
        ]
    },
    {
        "id": "fc697ee0793a0321",
        "type": "change",
        "z": "b5f4cd107135a11e",
        "g": "ab485b9a039594cc",
        "name": "Set New Inside High-High",
        "rules": [
            {
                "t": "set",
                "p": "ambientNode.parameters.limits.temperature.inside[\"high-high\"]",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "e57786072a0896ea",
        "type": "change",
        "z": "b5f4cd107135a11e",
        "g": "ab485b9a039594cc",
        "name": "Set New Outside High",
        "rules": [
            {
                "t": "set",
                "p": "ambientNode.parameters.limits.temperature.outside.high",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "e357737660c835dd",
        "type": "change",
        "z": "b5f4cd107135a11e",
        "g": "ab485b9a039594cc",
        "name": "Set Ouside High-High",
        "rules": [
            {
                "t": "set",
                "p": "ambientNode.parameters.limits.temperature.outside[\"high-high\"]",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "8b236b3be7ccb551",
        "type": "complete",
        "z": "b5f4cd107135a11e",
        "g": "c227f8950cb88f50",
        "name": "New Values",
        "scope": [
            "5dc698db5b709c69",
            "fc697ee0793a0321",
            "e57786072a0896ea",
            "e357737660c835dd"
        ],
        "uncaught": false,
        "x": 110,
        "y": 480,
        "wires": [
            [
                "1651256d82900bdc",
                "6a1cc9c754b09448"
            ]
        ]
    },
    {
        "id": "966df726bb3effdc",
        "type": "comment",
        "z": "48f48e1a750bbe34",
        "name": "Logic and Automation for Ambient Node",
        "info": "",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "b5c468606006ad2d",
        "type": "inject",
        "z": "48f48e1a750bbe34",
        "g": "9a1a315f29dc0358",
        "name": "AC Parameters",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"ACUnitRotation\":{\"Interval\":60,\"state\":\"ENABLE\",\"startAt\":0,\"currentUnit\":\"\"},\"limits\":{\"temperature\":{\"inside\":{\"high\":28.1,\"high-high\":30},\"outside\":{\"high\":26,\"high-high\":36}}}}",
        "payloadType": "json",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "294e1c093ef01f17"
            ]
        ]
    },
    {
        "id": "294e1c093ef01f17",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "9a1a315f29dc0358",
        "name": "Parameters",
        "rules": [
            {
                "t": "set",
                "p": "ambientNode.parameters",
                "pt": "global",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "125242d606a393df",
        "type": "inject",
        "z": "48f48e1a750bbe34",
        "g": "e89d28e1fbb153a2",
        "name": "Every Second",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 300,
        "wires": [
            [
                "bbfc94b844b2da48"
            ]
        ]
    },
    {
        "id": "ac9ea691e66b607c",
        "type": "mqtt out",
        "z": "48f48e1a750bbe34",
        "g": "e89d28e1fbb153a2",
        "name": "POWER1 Cmnd",
        "topic": "cmnd/ambientNode/POWER1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c1101368656b666",
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "5656c80be2b1a470",
        "type": "mqtt out",
        "z": "48f48e1a750bbe34",
        "g": "e89d28e1fbb153a2",
        "name": "POWER2 Cmnd",
        "topic": "cmnd/ambientNode/POWER2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c1101368656b666",
        "x": 720,
        "y": 300,
        "wires": []
    },
    {
        "id": "bbfc94b844b2da48",
        "type": "function",
        "z": "48f48e1a750bbe34",
        "g": "e89d28e1fbb153a2",
        "name": "Ciclado de AC en",
        "func": "var interval = global.get(\"ambientNode.parameters.ACUnitRotation.Interval\");\nvar currUnit = global.get(\"ambientNode.parameters.ACUnitRotation.currentUnit\");\nvar currUnitStartAt = global.get(\"ambientNode.parameters.ACUnitRotation.startAt\");\nvar state = global.get(\"ambientNode.parameters.ACUnitRotation.state\");\nvar now = new Date();\n\n//si el dispositivo no esta en linea, no se puede hacer nada\n//if(global.get(\"ambientNode.LWT\") == \"Offline\" )\n//  return [null,null];\n  \n//reviso si las variables existen, de lo contrario cargo valores por defecto\nif(currUnitStartAt == \"\" || currUnitStartAt === undefined)\n  global.set(\"ambientNode.parameters.ACUnitRotation.startAt\", now.getTime());\n\nif(currUnit == \"\" || currUnit === undefined) {\n  if(global.get(\"ambientNode.state.POWER1\") == \"ON\" && global.get(\"ambientNode.state.POWER2\") == \"OFF\")  \n    global.set(\"ambientNode.parameters.ACUnitRotation.currentUnit\", 0);    \n  else if(global.get(\"ambientNode.state.POWER1\") == \"OFF\" && global.get(\"ambientNode.state.POWER2\") == \"ON\")  \n    global.set(\"ambientNode.parameters.ACUnitRotation.currentUnit\", 1);    \n  else\n    global.set(\"ambientNode.parameters.ACUnitRotation.currentUnit\", 0);    \n}\nif(interval == \"\"|| interval === undefined)\n  global.set(\"ambientNode.parameters.ACUnitRotation.Interval\", 60);\nif(state == \"\"|| state === undefined)\n  global.set(\"ambientNode.parameters.ACUnitRotation.state\", \"ENABLE\");\n\nif(!(msg.state === undefined)) {\n    if(msg.state == \"DISABLE\") {\n        global.set(\"ambientNode.parameters.ACUnitRotation.state\", \"DISABLE\");\n        return [null,null,null];\n    } else if( msg.state == \"ENABLE\") {\n        global.set(\"ambientNode.parameters.ACUnitRotation.state\", \"ENABLE\");\n        return [null,null,null];    \n    }\n}\n\n// Si esta deshabilitado no hago nada\nif(state == \"DISABLE\")\n    return [null,null,null];\n//calculo cuanto queda de tiempo en segundos\nvar delta = Math.floor(interval - (msg.payload - currUnitStartAt)/1000)\nnode.status(delta);\n\nif(delta <= 0){\n//si tiempo expiró actualizo contantes globales y mando comandos a cada salida\n  global.set(\"ambientNode.parameters.ACUnitRotation.currentUnit\", currUnit?0:1);    \n  global.set(\"ambientNode.parameters.ACUnitRotation.startAt\", now.getTime());\n  \n  node.log(currUnit?\"Ciclando a AC0\":\"Ciclando a AC1\");\n  \n  if(currUnit)\n  //             AC1 - 0             AC2 - 1\n    return [{ payload: \"ON\" }, { payload: \"OFF\" }, { payload: delta }];\n  else\n    return [{ payload: \"OFF\" }, { payload: \"ON\" }, { payload: delta }];\n}\n\nreturn [null,null, { payload: delta }];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 300,
        "wires": [
            [
                "ac9ea691e66b607c"
            ],
            [
                "6644b6f145ebcf8e"
            ],
            [
                "7f57f1138f02384e"
            ]
        ]
    },
    {
        "id": "49bcb7b0e7b56257",
        "type": "link in",
        "z": "48f48e1a750bbe34",
        "g": "e89d28e1fbb153a2",
        "name": "AC Cycling Enable  - Logic",
        "links": [
            "1e30e6617135354a",
            "cf7b9b541833bb2e",
            "65d46d985bf8ef34"
        ],
        "x": 205,
        "y": 360,
        "wires": [
            [
                "bbfc94b844b2da48"
            ]
        ]
    },
    {
        "id": "7f57f1138f02384e",
        "type": "link out",
        "z": "48f48e1a750bbe34",
        "g": "e89d28e1fbb153a2",
        "name": "AC Cycling Time Left - Logic",
        "mode": "link",
        "links": [
            "364d2a0bbf39894f"
        ],
        "x": 495,
        "y": 360,
        "wires": []
    },
    {
        "id": "a4d130362ee89301",
        "type": "inject",
        "z": "48f48e1a750bbe34",
        "g": "6727a5c3d4ab908b",
        "name": "Every 30 sec",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": false,
        "onceDelay": "0.1",
        "topic": "Inside Temperature Status",
        "payload": "ambientNode.sensor[\"DS18B20-1\"].Temperature",
        "payloadType": "global",
        "x": 140,
        "y": 1040,
        "wires": [
            [
                "3155d3a3cedff83a"
            ]
        ]
    },
    {
        "id": "1e30e6617135354a",
        "type": "link out",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "Disable Cycling - Logic",
        "mode": "link",
        "links": [
            "49bcb7b0e7b56257",
            "46e1238387f2cdc9"
        ],
        "x": 905,
        "y": 1680,
        "wires": []
    },
    {
        "id": "31692f0e1e7d30be",
        "type": "switch",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "Toggle AC1",
        "property": "ambientNode.state.POWER1",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 760,
        "y": 1540,
        "wires": [
            [
                "c099ebca7b308bec"
            ],
            [
                "3de95f44cd7c2918"
            ]
        ]
    },
    {
        "id": "2759851e1b45f83f",
        "type": "switch",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "Toggle AC2",
        "property": "ambientNode.state.POWER2",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "ON",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OFF",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 760,
        "y": 1620,
        "wires": [
            [
                "04691b57bc0a1d32"
            ],
            [
                "edd813e713149ce4"
            ]
        ]
    },
    {
        "id": "c28e916db0d698d7",
        "type": "link out",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "High Temp Inside - Logic",
        "mode": "link",
        "links": [
            "ddc66448b57cf133"
        ],
        "x": 855,
        "y": 1400,
        "wires": []
    },
    {
        "id": "7f56fddfd9c767ab",
        "type": "mqtt out",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "POWER1 Cmnd",
        "topic": "cmnd/ambientNode/POWER1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c1101368656b666",
        "x": 1130,
        "y": 1540,
        "wires": []
    },
    {
        "id": "c099ebca7b308bec",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "Set OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 1520,
        "wires": [
            [
                "7f56fddfd9c767ab"
            ]
        ]
    },
    {
        "id": "3de95f44cd7c2918",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "Set ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 1560,
        "wires": [
            [
                "7f56fddfd9c767ab"
            ]
        ]
    },
    {
        "id": "edd813e713149ce4",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "Set ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 1640,
        "wires": [
            [
                "dff22c97683f3074"
            ]
        ]
    },
    {
        "id": "04691b57bc0a1d32",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "Set OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 950,
        "y": 1600,
        "wires": [
            [
                "dff22c97683f3074"
            ]
        ]
    },
    {
        "id": "dff22c97683f3074",
        "type": "mqtt out",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "POWER2 Cmnd",
        "topic": "cmnd/ambientNode/POWER2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c1101368656b666",
        "x": 1130,
        "y": 1620,
        "wires": []
    },
    {
        "id": "3155d3a3cedff83a",
        "type": "switch",
        "z": "48f48e1a750bbe34",
        "g": "6727a5c3d4ab908b",
        "name": "Inside Temp High?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "ambientNode.parameters.limits.temperature.inside.high-high",
                "vt": "global"
            },
            {
                "t": "gte",
                "v": "ambientNode.parameters.limits.temperature.inside.high",
                "vt": "global"
            },
            {
                "t": "lt",
                "v": "ambientNode.parameters.limits.temperature.inside.high",
                "vt": "global"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 170,
        "y": 1100,
        "wires": [
            [
                "51e7732f61cd6934",
                "849378bd64c8c75d"
            ],
            [
                "207e9cf10afff8e9",
                "026bd795e9d32197"
            ],
            [
                "8f568f3b5594202c",
                "20ac63c397656c87"
            ]
        ]
    },
    {
        "id": "8f568f3b5594202c",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "Back to Normal",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "TRUE",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 1620,
        "wires": [
            [
                "207e9cf10afff8e9"
            ]
        ]
    },
    {
        "id": "188b8a49bd411a50",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "Disable Cycling",
        "rules": [
            {
                "t": "set",
                "p": "state",
                "pt": "msg",
                "to": "DISABLE",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 770,
        "y": 1680,
        "wires": [
            [
                "1e30e6617135354a"
            ]
        ]
    },
    {
        "id": "bed96df9e70b1a8a",
        "type": "rbe",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "Block Same Event",
        "func": "deadbandEq",
        "gap": "0.25",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 710,
        "y": 1400,
        "wires": [
            [
                "c28e916db0d698d7",
                "40c62681cf76d064"
            ]
        ]
    },
    {
        "id": "9eb109cdc16ec0c7",
        "type": "debug",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "TOGGLE AC",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 1580,
        "wires": []
    },
    {
        "id": "026bd795e9d32197",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "Event Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Inside Temperature High",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ambientNode.sensor[\"DS18B20-1\"].Temperature",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "level",
                "pt": "msg",
                "to": "warning",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 1400,
        "wires": [
            [
                "bed96df9e70b1a8a",
                "706cbe45f745c45b"
            ]
        ]
    },
    {
        "id": "207e9cf10afff8e9",
        "type": "trigger",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "Toggle AC Once",
        "op1": "TOGGLE AC",
        "op2": "FALSE",
        "op1type": "str",
        "op2type": "str",
        "duration": "0",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 550,
        "y": 1580,
        "wires": [
            [
                "188b8a49bd411a50",
                "31692f0e1e7d30be",
                "9eb109cdc16ec0c7",
                "2759851e1b45f83f",
                "05bfa87a70d53da5"
            ]
        ]
    },
    {
        "id": "14d0cd94abf529fd",
        "type": "comment",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "Toggle AC",
        "info": "La temperatura sube debido a que algo paso con el AC (Air Conditioner) por lo que lo apago y enciendo el otro.",
        "x": 530,
        "y": 1540,
        "wires": []
    },
    {
        "id": "05bfa87a70d53da5",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "Event Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "*Disabling Cycling and Toggling AC*. Inside Temperature High",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ambientNode.sensor[\"DS18B20-1\"].Temperature",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "statusMsg.notify",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "level",
                "pt": "msg",
                "to": "warning",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 1460,
        "wires": [
            [
                "e8ec25ad8a53b533",
                "7e56c775c78aa003",
                "94a8c5f48fa191d8"
            ]
        ]
    },
    {
        "id": "e8ec25ad8a53b533",
        "type": "link out",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "High Temp Inside - Logic",
        "mode": "link",
        "links": [
            "ddc66448b57cf133"
        ],
        "x": 925,
        "y": 1440,
        "wires": []
    },
    {
        "id": "5e69a11cc1e07f2d",
        "type": "switch",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Inside Temp High-High?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "ambientNode.parameters.limits.temperature.inside.high-high",
                "vt": "global"
            },
            {
                "t": "gte",
                "v": "ambientNode.parameters.limits.temperature.inside.high",
                "vt": "global"
            },
            {
                "t": "lt",
                "v": "ambientNode.parameters.limits.temperature.inside.high",
                "vt": "global"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 610,
        "y": 880,
        "wires": [
            [
                "2922d376c0e13ed1"
            ],
            [
                "f83260c77d963659"
            ],
            [
                "81285f405c3e43ae"
            ]
        ]
    },
    {
        "id": "2922d376c0e13ed1",
        "type": "trigger",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Try Shutters Once",
        "op1": "ambientNode.sensor[\"DS18B20-1\"].Temperature",
        "op2": "FALSE",
        "op1type": "global",
        "op2type": "str",
        "duration": "0",
        "extend": true,
        "overrideDelay": false,
        "units": "min",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 850,
        "y": 840,
        "wires": [
            [
                "b70db9731536c25c"
            ]
        ]
    },
    {
        "id": "a26a618653f75aac",
        "type": "link out",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Back to Normal Inside Temp Logic",
        "mode": "link",
        "links": [
            "ddc66448b57cf133"
        ],
        "x": 1355,
        "y": 1260,
        "wires": []
    },
    {
        "id": "7b767043511cbd96",
        "type": "debug",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "SHUTTERS OPEN LOGIC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 940,
        "wires": []
    },
    {
        "id": "b70db9731536c25c",
        "type": "switch",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Outside is Cooler?",
        "property": "ambientNode.sensor[\"DS18B20-2\"].Temperature",
        "propertyType": "global",
        "rules": [
            {
                "t": "gte",
                "v": "ambientNode.sensor[\"DS18B20-1\"].Temperature",
                "vt": "global"
            },
            {
                "t": "lt",
                "v": "ambientNode.sensor[\"DS18B20-1\"].Temperature",
                "vt": "global"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1070,
        "y": 840,
        "wires": [
            [
                "b08d2a69bb648d26",
                "a36e1ca208b4db98",
                "75759497c0b3b05d",
                "b55867e4ca8c12c0",
                "c0915a1eaa82d18a",
                "38e3fd54908ffb1e"
            ],
            [
                "7b767043511cbd96",
                "2dd7c283383a19a9",
                "5d37735631998726",
                "c489f75632d97ea6",
                "0f1a89f3bf3123fa",
                "2623a9896dea98ef"
            ]
        ]
    },
    {
        "id": "b08d2a69bb648d26",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Alarm Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "*AC Toggle didn't Work. Outside is HOTTER than Inside. HELP ME Inside Temperature High!!* Outside is",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ambientNode.sensor[\"DS18B20-2\"].Temperature",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "statusMsg.warning",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "statusMsg.notify",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "level",
                "pt": "msg",
                "to": "critical",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 820,
        "wires": [
            [
                "2319483598506c9d",
                "f9a5ef6fe14ce2ae",
                "9fd07f1be7731ad5"
            ]
        ]
    },
    {
        "id": "6490530dbeddfcd9",
        "type": "debug",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "BACK TO NORMAL",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 1220,
        "wires": []
    },
    {
        "id": "2dd7c283383a19a9",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Event Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "*AC Toggle didn't Work*. Opening Shutters, Outside is",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ambientNode.sensor[\"DS18B20-2\"].Temperature",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "statusMsg.warning",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "statusMsg.notify",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "level",
                "pt": "msg",
                "to": "warning",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 860,
        "wires": [
            [
                "2319483598506c9d",
                "f9a5ef6fe14ce2ae",
                "9fd07f1be7731ad5"
            ]
        ]
    },
    {
        "id": "2319483598506c9d",
        "type": "link out",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Opening Shutter - Logic",
        "mode": "link",
        "links": [
            "ddc66448b57cf133"
        ],
        "x": 1395,
        "y": 800,
        "wires": []
    },
    {
        "id": "f83260c77d963659",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "reset try shutters",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "TRUE",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "topic",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 880,
        "wires": [
            [
                "2922d376c0e13ed1"
            ]
        ]
    },
    {
        "id": "a36e1ca208b4db98",
        "type": "debug",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "SHUTTERS CLOSE LOGIC",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1320,
        "y": 740,
        "wires": []
    },
    {
        "id": "123e3e0414b4c5dd",
        "type": "rbe",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Block Same Event",
        "func": "rbe",
        "gap": "0.25",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload",
        "topi": "topic",
        "x": 1210,
        "y": 1220,
        "wires": [
            [
                "a26a618653f75aac",
                "6490530dbeddfcd9"
            ]
        ]
    },
    {
        "id": "c489f75632d97ea6",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Set AC2 OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 1040,
        "wires": [
            [
                "b29d654e5cd48324"
            ]
        ]
    },
    {
        "id": "b29d654e5cd48324",
        "type": "mqtt out",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "POWER2 Cmnd",
        "topic": "cmnd/ambientNode/POWER2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c1101368656b666",
        "x": 1460,
        "y": 1040,
        "wires": []
    },
    {
        "id": "5d37735631998726",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Set AC1 OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 980,
        "wires": [
            [
                "64029eff9f00f41f"
            ]
        ]
    },
    {
        "id": "64029eff9f00f41f",
        "type": "mqtt out",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "POWER1 Cmnd",
        "topic": "cmnd/ambientNode/POWER1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c1101368656b666",
        "x": 1460,
        "y": 980,
        "wires": []
    },
    {
        "id": "ad23b449fc79408a",
        "type": "mqtt out",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "POWER3 Cmnd",
        "topic": "cmnd/ambientNode/POWER3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c1101368656b666",
        "x": 1460,
        "y": 1100,
        "wires": []
    },
    {
        "id": "4354ed783508f509",
        "type": "mqtt out",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "POWER4 Cmnd",
        "topic": "cmnd/ambientNode/POWER4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c1101368656b666",
        "x": 1460,
        "y": 1160,
        "wires": []
    },
    {
        "id": "0f1a89f3bf3123fa",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Set Shutters ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 1100,
        "wires": [
            [
                "ad23b449fc79408a"
            ]
        ]
    },
    {
        "id": "2623a9896dea98ef",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Set FAN ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 1160,
        "wires": [
            [
                "4354ed783508f509"
            ]
        ]
    },
    {
        "id": "19761643cf278dd4",
        "type": "mqtt out",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "POWER3 Cmnd",
        "topic": "cmnd/ambientNode/POWER3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c1101368656b666",
        "x": 1480,
        "y": 620,
        "wires": []
    },
    {
        "id": "b064bee0fd32b4a7",
        "type": "mqtt out",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "POWER4 Cmnd",
        "topic": "cmnd/ambientNode/POWER4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c1101368656b666",
        "x": 1480,
        "y": 680,
        "wires": []
    },
    {
        "id": "b55867e4ca8c12c0",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Set Shutters OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1290,
        "y": 620,
        "wires": [
            [
                "19761643cf278dd4"
            ]
        ]
    },
    {
        "id": "75759497c0b3b05d",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Set FAN OFF",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1280,
        "y": 680,
        "wires": [
            [
                "b064bee0fd32b4a7"
            ]
        ]
    },
    {
        "id": "38e3fd54908ffb1e",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Set AC1 ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 500,
        "wires": [
            [
                "2c5e2191e395d6d2"
            ]
        ]
    },
    {
        "id": "c0915a1eaa82d18a",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Set AC2 ON",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 560,
        "wires": [
            [
                "848947ef4b0ee2fc"
            ]
        ]
    },
    {
        "id": "848947ef4b0ee2fc",
        "type": "mqtt out",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "POWER2 Cmnd",
        "topic": "cmnd/ambientNode/POWER2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c1101368656b666",
        "x": 1460,
        "y": 560,
        "wires": []
    },
    {
        "id": "2c5e2191e395d6d2",
        "type": "mqtt out",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "POWER1 Cmnd",
        "topic": "cmnd/ambientNode/POWER1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "9c1101368656b666",
        "x": 1460,
        "y": 500,
        "wires": []
    },
    {
        "id": "51e7732f61cd6934",
        "type": "delay",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 500,
        "y": 760,
        "wires": [
            [
                "13e38cebdc6d36ee"
            ]
        ]
    },
    {
        "id": "0be0027c03059808",
        "type": "comment",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Delay 2m",
        "info": "Le doy tiempo al toggleo del AC para que surta efecto. Pasado ese tiempo y si la temperatura sigue subiendo pruebo otra opción.",
        "x": 500,
        "y": 720,
        "wires": []
    },
    {
        "id": "2c761681ee568669",
        "type": "comment",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Outside HOTTER",
        "info": "",
        "x": 1080,
        "y": 800,
        "wires": []
    },
    {
        "id": "88cbeab9725d7b2b",
        "type": "comment",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Outside cooler",
        "info": "",
        "x": 1070,
        "y": 880,
        "wires": []
    },
    {
        "id": "13e38cebdc6d36ee",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Current Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ambientNode.sensor[\"DS18B20-1\"].Temperature",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 540,
        "y": 820,
        "wires": [
            [
                "5e69a11cc1e07f2d"
            ]
        ]
    },
    {
        "id": "81285f405c3e43ae",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Back to Normal",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "TRUE",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 920,
        "wires": [
            [
                "2922d376c0e13ed1",
                "832e1e16d88c2609"
            ]
        ]
    },
    {
        "id": "832e1e16d88c2609",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Event Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Inside Temperature Normal",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ambientNode.sensor[\"DS18B20-1\"].Temperature",
                "tot": "global"
            },
            {
                "t": "delete",
                "p": "reset",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 1220,
        "wires": [
            [
                "123e3e0414b4c5dd"
            ]
        ]
    },
    {
        "id": "706cbe45f745c45b",
        "type": "link out",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "PRTG Notification - Logic",
        "mode": "link",
        "links": [
            "89969a6db281b15b"
        ],
        "x": 635,
        "y": 1360,
        "wires": []
    },
    {
        "id": "7e56c775c78aa003",
        "type": "link out",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "PRTG Notification - Logic",
        "mode": "link",
        "links": [
            "89969a6db281b15b"
        ],
        "x": 925,
        "y": 1480,
        "wires": []
    },
    {
        "id": "135741652f9f66e1",
        "type": "link out",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "PRTG Notification - Logic",
        "mode": "link",
        "links": [
            "89969a6db281b15b"
        ],
        "x": 1575,
        "y": 880,
        "wires": []
    },
    {
        "id": "20ac63c397656c87",
        "type": "link out",
        "z": "48f48e1a750bbe34",
        "g": "6727a5c3d4ab908b",
        "name": "PRTG Notification - Logic",
        "mode": "link",
        "links": [
            "89969a6db281b15b"
        ],
        "x": 425,
        "y": 1780,
        "wires": []
    },
    {
        "id": "466b9202fc44260d",
        "type": "link out",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "PRTG Notification - Logic",
        "mode": "link",
        "links": [
            "89969a6db281b15b"
        ],
        "x": 635,
        "y": 960,
        "wires": []
    },
    {
        "id": "849378bd64c8c75d",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Event Topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Inside Temperature High-High",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "statusMsg.warning",
                "pt": "msg",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 510,
        "y": 960,
        "wires": [
            [
                "466b9202fc44260d"
            ]
        ]
    },
    {
        "id": "6644b6f145ebcf8e",
        "type": "delay",
        "z": "48f48e1a750bbe34",
        "g": "e89d28e1fbb153a2",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 540,
        "y": 300,
        "wires": [
            [
                "5656c80be2b1a470"
            ]
        ]
    },
    {
        "id": "f9a5ef6fe14ce2ae",
        "type": "link out",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Event Log - Logic",
        "mode": "link",
        "links": [
            "024b4f2011f811dc"
        ],
        "x": 1395,
        "y": 840,
        "wires": []
    },
    {
        "id": "40c62681cf76d064",
        "type": "link out",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "Event Log - Logic",
        "mode": "link",
        "links": [
            "024b4f2011f811dc"
        ],
        "x": 855,
        "y": 1360,
        "wires": []
    },
    {
        "id": "94a8c5f48fa191d8",
        "type": "link out",
        "z": "48f48e1a750bbe34",
        "g": "1902c6e68f4333e8",
        "name": "Event Log - Logic",
        "mode": "link",
        "links": [
            "024b4f2011f811dc"
        ],
        "x": 925,
        "y": 1400,
        "wires": []
    },
    {
        "id": "9fd07f1be7731ad5",
        "type": "change",
        "z": "48f48e1a750bbe34",
        "g": "e2dc7639cd38a964",
        "name": "Inside Temp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ambientNode.sensor[\"DS18B20-1\"].Temperature",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1450,
        "y": 880,
        "wires": [
            [
                "135741652f9f66e1"
            ]
        ]
    },
    {
        "id": "5e910d159d33ab9c",
        "type": "inject",
        "z": "1e3ac824b73bfad1",
        "g": "870d531e70ec2ea1",
        "name": "Energy Node Demo",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"LWT\":\"Online\",\"state\":{\"Time\":\"2022-10-24T22:20:31\",\"Uptime\":\"0T00:00:08\",\"UptimeSec\":8,\"Heap\":194,\"SleepMode\":\"Dynamic\",\"Sleep\":50,\"LoadAvg\":19,\"MqttCount\":1,\"Berry\":{\"HeapUsed\":4,\"Objects\":43},\"POWER1\":\"ON\",\"POWER2\":\"OFF\",\"POWER3\":\"OFF\",\"Wifi\":{\"AP\":1,\"SSId\":\"NoNet\",\"BSSId\":\"08:7E:64:44:14:30\",\"Channel\":1,\"Mode\":\"11n\",\"RSSI\":100,\"Signal\":-22,\"LinkCount\":1,\"Downtime\":\"0T00:00:03\"}},\"sensor\":{\"Time\":\"2022-10-24T22:20:31\",\"DS18B20-1\":{\"Id\":\"3C01F0968822\",\"Temperature\":28.6},\"DS18B20-2\":{\"Id\":\"3C01F096813E\",\"Temperature\":24.4},\"TempUnit\":\"C\"},\"info1\":{\"Module\":\"ESP32C3\",\"Version\":\"12.2.0.1(tasmota)\",\"FallbackTopic\":\"cmnd/AmbientNode_fb/\",\"GroupTopic\":\"cmnd/tasmotas/\"},\"info2\":{\"WebServerMode\":\"Admin\",\"Hostname\":\"energyNode-2800\",\"IPAddress\":\"192.168.0.140\"},\"info3\":{\"RestartReason\":\"Vbat power on reset\",\"BootCount\":30}}",
        "payloadType": "json",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "5e3e591f44d77637"
            ]
        ]
    },
    {
        "id": "5e3e591f44d77637",
        "type": "change",
        "z": "1e3ac824b73bfad1",
        "g": "870d531e70ec2ea1",
        "name": "Energy Node Global",
        "rules": [
            {
                "t": "set",
                "p": "energyNode",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 120,
        "wires": [
            [
                "4e99ab639ebc6671"
            ]
        ]
    },
    {
        "id": "4e99ab639ebc6671",
        "type": "debug",
        "z": "1e3ac824b73bfad1",
        "g": "870d531e70ec2ea1",
        "name": "Energy Node Debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 120,
        "wires": []
    },
    {
        "id": "d47103665d859fe9",
        "type": "comment",
        "z": "1e3ac824b73bfad1",
        "name": "",
        "info": "",
        "x": 80,
        "y": 40,
        "wires": []
    },
    {
        "id": "bc157d3649ac9c61",
        "type": "ui_chart",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "name": "",
        "group": "7007dbc2b6b6c71a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Main Ac Voltage / Current",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "-220",
        "ymax": "220",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a9097e253705ec52",
        "type": "inject",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "vAmp",
                "v": "220",
                "vt": "num"
            },
            {
                "p": "cAmp",
                "v": "50",
                "vt": "num"
            },
            {
                "p": "period",
                "v": "15",
                "vt": "str"
            },
            {
                "p": "state",
                "v": "ON",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "66d5dd69aa1aa1e3",
                "3ee48f13c0d58e64"
            ]
        ]
    },
    {
        "id": "937f50a9c86d9e03",
        "type": "inject",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[]",
        "payloadType": "json",
        "x": 410,
        "y": 320,
        "wires": [
            [
                "bc157d3649ac9c61"
            ]
        ]
    },
    {
        "id": "7369eca0cbd5dfe8",
        "type": "ui_led",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "order": 1,
        "group": "7007dbc2b6b6c71a",
        "width": 0,
        "height": 0,
        "label": "Main 220V AC",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "FAIL",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "OFF",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "220V AC Led",
        "x": 610,
        "y": 220,
        "wires": []
    },
    {
        "id": "b8c6c034d7caf345",
        "type": "ui_led",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "order": 3,
        "group": "94c463ca1ae3467b",
        "width": 0,
        "height": 0,
        "label": "48 V DC",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "FAIL",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "OFF",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "48 V DC Led",
        "x": 610,
        "y": 380,
        "wires": []
    },
    {
        "id": "975bf8fcaf3f5430",
        "type": "ui_led",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "order": 6,
        "group": "1eb506a295476619",
        "width": 0,
        "height": 0,
        "label": "Battery",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "FAIL",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "ON",
                "valueType": "str"
            },
            {
                "color": "#000000",
                "value": "OFF",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "Batteries",
        "x": 600,
        "y": 520,
        "wires": []
    },
    {
        "id": "da0db2689b538e61",
        "type": "ui_gauge",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "name": "Voltage Gauge",
        "group": "94c463ca1ae3467b",
        "order": 4,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "Volts",
        "format": "{{value | number:1}} V",
        "min": 0,
        "max": "52",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "47",
        "seg2": "49",
        "className": "",
        "x": 500,
        "y": 420,
        "wires": []
    },
    {
        "id": "511f9042df1c8bae",
        "type": "ui_gauge",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "name": "Current Gauge",
        "group": "94c463ca1ae3467b",
        "order": 5,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "Amps",
        "format": "{{value | number:1}} A",
        "min": 0,
        "max": "30",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "20",
        "className": "",
        "x": 500,
        "y": 460,
        "wires": []
    },
    {
        "id": "9426dc307b9863f8",
        "type": "ui_gauge",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "name": "Voltage Gauge",
        "group": "1eb506a295476619",
        "order": 7,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "Volts",
        "format": "{{value | number:1}} V",
        "min": 0,
        "max": "52",
        "colors": [
            "#ca3838",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "47",
        "seg2": "49",
        "className": "",
        "x": 500,
        "y": 560,
        "wires": []
    },
    {
        "id": "cee68504b57d1463",
        "type": "inject",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "name": "Batteries",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "vAmp",
                "v": "48",
                "vt": "num"
            },
            {
                "p": "cAmp",
                "v": "210",
                "vt": "num"
            },
            {
                "p": "state",
                "v": "FAIL",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 580,
        "wires": [
            [
                "13275a10ad016b57",
                "e6ec57aa7a3f5019"
            ]
        ]
    },
    {
        "id": "898badd9f5a20b05",
        "type": "ui_gauge",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "name": "Current Gauge",
        "group": "1eb506a295476619",
        "order": 8,
        "width": "3",
        "height": "2",
        "gtype": "gage",
        "title": "{{msg.topic}}",
        "label": "Amps",
        "format": "{{value | number:1}} A",
        "min": 0,
        "max": "600",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "210",
        "seg2": "350",
        "className": "",
        "x": 500,
        "y": 600,
        "wires": []
    },
    {
        "id": "66d5dd69aa1aa1e3",
        "type": "AC Simulation",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "name": "Main 220 V Simulation",
        "x": 360,
        "y": 280,
        "wires": [
            [
                "bc157d3649ac9c61"
            ],
            [
                "bc157d3649ac9c61"
            ]
        ]
    },
    {
        "id": "13275a10ad016b57",
        "type": "DC Simulation",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "name": "Batteries",
        "x": 320,
        "y": 580,
        "wires": [
            [
                "9426dc307b9863f8"
            ],
            [
                "898badd9f5a20b05"
            ]
        ]
    },
    {
        "id": "19ddb4c3566689c0",
        "type": "DC Simulation",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "name": "48 V DC",
        "x": 320,
        "y": 440,
        "wires": [
            [
                "da0db2689b538e61"
            ],
            [
                "511f9042df1c8bae"
            ]
        ]
    },
    {
        "id": "584ce14c3eda63b4",
        "type": "inject",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "name": "48 V DC",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "vAmp",
                "v": "48",
                "vt": "num"
            },
            {
                "p": "cAmp",
                "v": "10",
                "vt": "num"
            },
            {
                "p": "state",
                "v": "ON",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "19ddb4c3566689c0",
                "9f74a669b97dc5b3"
            ]
        ]
    },
    {
        "id": "e6ec57aa7a3f5019",
        "type": "change",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "name": "State",
        "rules": [
            {
                "t": "move",
                "p": "state",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 520,
        "wires": [
            [
                "77d4ba0d623a6267"
            ]
        ]
    },
    {
        "id": "77d4ba0d623a6267",
        "type": "rbe",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "name": "Ignore",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 450,
        "y": 520,
        "wires": [
            [
                "975bf8fcaf3f5430"
            ]
        ]
    },
    {
        "id": "9f74a669b97dc5b3",
        "type": "change",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "name": "State",
        "rules": [
            {
                "t": "move",
                "p": "state",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 380,
        "wires": [
            [
                "e1d99178a0b1f00a"
            ]
        ]
    },
    {
        "id": "e1d99178a0b1f00a",
        "type": "rbe",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "name": "Ignore",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 450,
        "y": 380,
        "wires": [
            [
                "b8c6c034d7caf345"
            ]
        ]
    },
    {
        "id": "3ee48f13c0d58e64",
        "type": "change",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "name": "State",
        "rules": [
            {
                "t": "move",
                "p": "state",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 310,
        "y": 220,
        "wires": [
            [
                "df8debdcd71d39bc"
            ]
        ]
    },
    {
        "id": "df8debdcd71d39bc",
        "type": "rbe",
        "z": "1e3ac824b73bfad1",
        "g": "14394c2af939e9e1",
        "name": "Ignore",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": true,
        "property": "payload",
        "topi": "topic",
        "x": 450,
        "y": 220,
        "wires": [
            [
                "7369eca0cbd5dfe8"
            ]
        ]
    },
    {
        "id": "6c42a54ced76db2e",
        "type": "comment",
        "z": "90558da95fcd582f",
        "name": "Telegram Events Notifications and Interactions.",
        "info": "",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "ddc66448b57cf133",
        "type": "link in",
        "z": "90558da95fcd582f",
        "name": "Events Notification - Events",
        "links": [
            "2319483598506c9d",
            "a26a618653f75aac",
            "c28e916db0d698d7",
            "b8ddbf067d541d3e",
            "dabfd04a0c9e70e5",
            "9d917480e4fc7f8b",
            "a856cbd6d1ba4f2c",
            "e8ec25ad8a53b533"
        ],
        "x": 55,
        "y": 160,
        "wires": [
            [
                "d5b0b0198bcfe827"
            ]
        ]
    },
    {
        "id": "31b0c2d3eb1fabd8",
        "type": "debug",
        "z": "90558da95fcd582f",
        "name": "Ambient Node Event Sent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 160,
        "wires": []
    },
    {
        "id": "d5b0b0198bcfe827",
        "type": "function",
        "z": "90558da95fcd582f",
        "name": "Ambient Node Event Messages",
        "func": "let event = msg.topic + \" \" + msg.payload + \" °C\";\nmsg.payload = {};\nmsg.payload.type = \"message\";\nmsg.payload.chatId = flow.get(\"chatId\");\nmsg.payload.options = {parse_mode : \"Markdown\"};\nmsg.payload.content = event;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 160,
        "wires": [
            [
                "6d69c6a8b7a90add"
            ]
        ]
    },
    {
        "id": "6d69c6a8b7a90add",
        "type": "telegram sender",
        "z": "90558da95fcd582f",
        "name": "Event Message",
        "bot": "607797ee86fa1498",
        "haserroroutput": true,
        "outputs": 2,
        "x": 480,
        "y": 160,
        "wires": [
            [
                "31b0c2d3eb1fabd8"
            ],
            [
                "31b0c2d3eb1fabd8"
            ]
        ]
    },
    {
        "id": "0b84695d820d9f62",
        "type": "inject",
        "z": "90558da95fcd582f",
        "name": "Group Chat Id",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "chatID",
        "payload": "-856965857",
        "payloadType": "num",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "6c3af3baab507c6d"
            ]
        ]
    },
    {
        "id": "6c3af3baab507c6d",
        "type": "change",
        "z": "90558da95fcd582f",
        "name": "Set chatId Flow",
        "rules": [
            {
                "t": "set",
                "p": "chatId",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "8b036882e8e71e7e",
        "type": "comment",
        "z": "1cc1f1daa62850fd",
        "name": "Telegram Commands",
        "info": "",
        "x": 120,
        "y": 40,
        "wires": []
    },
    {
        "id": "916e6314b794c171",
        "type": "function",
        "z": "1cc1f1daa62850fd",
        "name": "Temperature Options",
        "func": "var opts = {\n  reply_markup: JSON.stringify({\n      \"inline_keyboard\": [\n        [{ \"text\": \"Inside Temperature\",     \"callback_data\": \"INSIDE\"    }],\n        [{ \"text\": \"Outside Temperature\",    \"callback_data\": \"OUTSIDE\"   }],\n        [{ \"text\": \"Batteries Temperatures\", \"callback_data\": \"BATTERIES\" }]\n     ]\n  })\n};\n\nmsg.payload = {}\nmsg.payload.options = opts;\nmsg.payload.content = \"Select Temperature\";\nmsg.payload.type = \"message\";\nmsg.payload.chatId = msg.originalMessage.chat.id\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 100,
        "wires": [
            [
                "9bf28de418792eb5"
            ]
        ]
    },
    {
        "id": "cd0785303fc540cc",
        "type": "telegram command",
        "z": "1cc1f1daa62850fd",
        "name": "Temperatures Cmnd",
        "command": "/Temperatures",
        "description": "Temperatures Cmnd",
        "registercommand": true,
        "language": "es",
        "scope": "default",
        "bot": "607797ee86fa1498",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 630,
        "y": 100,
        "wires": [
            [
                "916e6314b794c171"
            ],
            []
        ]
    },
    {
        "id": "8cfad543bdb6c70c",
        "type": "telegram event",
        "z": "1cc1f1daa62850fd",
        "name": "Cmnds Callback",
        "bot": "607797ee86fa1498",
        "event": "callback_query",
        "autoanswer": false,
        "x": 120,
        "y": 220,
        "wires": [
            [
                "31640cd24511bc76",
                "d3b59c03f6ae0de5"
            ]
        ]
    },
    {
        "id": "31640cd24511bc76",
        "type": "switch",
        "z": "1cc1f1daa62850fd",
        "name": "Temperatures Cmnd Options",
        "property": "payload.content",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "INSIDE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "OUTSIDE",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "BATTERIES",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 3,
        "x": 360,
        "y": 220,
        "wires": [
            [
                "34c7ca32d20ebf20"
            ],
            [
                "c32a5969c399bfd5"
            ],
            [
                "5a060f39f53cdc41"
            ]
        ]
    },
    {
        "id": "34c7ca32d20ebf20",
        "type": "change",
        "z": "1cc1f1daa62850fd",
        "name": "Inside Temperature",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Inside Temperature:",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ambientNode.sensor[\"DS18B20-1\"].Temperature",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 180,
        "wires": [
            [
                "72f42d8ed776cef2"
            ]
        ]
    },
    {
        "id": "c32a5969c399bfd5",
        "type": "change",
        "z": "1cc1f1daa62850fd",
        "name": "Inside Temperature",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "OutsideTemperature:",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ambientNode.sensor[\"DS18B20-2\"].Temperature",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 220,
        "wires": [
            [
                "72f42d8ed776cef2"
            ]
        ]
    },
    {
        "id": "5a060f39f53cdc41",
        "type": "change",
        "z": "1cc1f1daa62850fd",
        "name": "Batteries Temperature",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Batteries Temperature Not Implemented: ",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "NaN",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "72f42d8ed776cef2"
            ]
        ]
    },
    {
        "id": "72f42d8ed776cef2",
        "type": "function",
        "z": "1cc1f1daa62850fd",
        "name": "Temperature Messages",
        "func": "var event = msg.topic + \" \" + msg.payload + \" °C\";\nmsg.payload = {};\nmsg.payload.type = \"message\";\nmsg.payload.chatId = msg.originalMessage.message.chat.id;\nmsg.payload.options = {parse_mode : \"Markdown\"};\nmsg.payload.content = event\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 220,
        "wires": [
            [
                "9bf28de418792eb5"
            ]
        ]
    },
    {
        "id": "9bf28de418792eb5",
        "type": "telegram sender",
        "z": "1cc1f1daa62850fd",
        "name": "Response",
        "bot": "607797ee86fa1498",
        "haserroroutput": true,
        "outputs": 2,
        "x": 1120,
        "y": 300,
        "wires": [
            [
                "eb85c2bac6c3ddda"
            ],
            [
                "eb85c2bac6c3ddda"
            ]
        ]
    },
    {
        "id": "eb85c2bac6c3ddda",
        "type": "debug",
        "z": "1cc1f1daa62850fd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1270,
        "y": 300,
        "wires": []
    },
    {
        "id": "ff8ea149af5264f8",
        "type": "telegram command",
        "z": "1cc1f1daa62850fd",
        "name": "Ambient Status Cmnd",
        "command": "/Ambient",
        "description": "Ambient Status Cmnd",
        "registercommand": true,
        "language": "es",
        "scope": "default",
        "bot": "607797ee86fa1498",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 640,
        "y": 340,
        "wires": [
            [
                "04e19e5d3a1686e9"
            ],
            [
                "04e19e5d3a1686e9"
            ]
        ]
    },
    {
        "id": "d3b59c03f6ae0de5",
        "type": "debug",
        "z": "1cc1f1daa62850fd",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 160,
        "wires": []
    },
    {
        "id": "9eaa77450e365741",
        "type": "http request",
        "z": "1cc1f1daa62850fd",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.0.203:80/snapshot.jpg",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 690,
        "y": 420,
        "wires": [
            [
                "b9606319d647859f"
            ]
        ]
    },
    {
        "id": "04e19e5d3a1686e9",
        "type": "function",
        "z": "1cc1f1daa62850fd",
        "name": "Ambient Status",
        "func": "let nodeStatus = global.get(\"ambientNode.LWT\");\nlet AC1Status = global.get(\"ambientNode.state.POWER1\");\nlet AC2Status = global.get(\"ambientNode.state.POWER2\");\nlet shutterStatus = global.get(\"ambientNode.state.POWER3\");\nlet fanStatus = global.get(\"ambientNode.state.POWER4\");\nlet insideTemp = global.get(\"ambientNode.sensor['DS18B20-1'].Temperature\");\nlet outsideTemp = global.get(\"ambientNode.sensor['DS18B20-2'].Temperature\");\n\nvar content = \"*TODO*: Implement this message\";\n\nmsg.payload = {};\nmsg.payload.type = \"message\";\nmsg.payload.chatId = msg.originalMessage.chat.id\nmsg.payload.options = {parse_mode : \"Markdown\"};\nmsg.payload.content = content;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 340,
        "wires": [
            [
                "9bf28de418792eb5"
            ]
        ]
    },
    {
        "id": "b9606319d647859f",
        "type": "function",
        "z": "1cc1f1daa62850fd",
        "name": "Camera Msg",
        "func": "var image = msg.payload;\nmsg.payload = {};\nmsg.payload.type = \"photo\";\nmsg.payload.chatId = msg.originalMessage.chat.id;\nmsg.payload.content = image;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 420,
        "wires": [
            [
                "9bf28de418792eb5"
            ]
        ]
    },
    {
        "id": "5c99f11846a9b403",
        "type": "telegram command",
        "z": "1cc1f1daa62850fd",
        "name": "Camara Cmnd",
        "command": "/Camara",
        "description": "Camara Cmnd",
        "registercommand": true,
        "language": "es",
        "scope": "default",
        "bot": "607797ee86fa1498",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 500,
        "y": 420,
        "wires": [
            [
                "9eaa77450e365741"
            ],
            [
                "9eaa77450e365741"
            ]
        ]
    },
    {
        "id": "a1e97934163fc530",
        "type": "comment",
        "z": "2ed4bce24e139aaa",
        "name": "PRTG Alarms Notifications.",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "89969a6db281b15b",
        "type": "link in",
        "z": "2ed4bce24e139aaa",
        "name": "Alarms Notifications - Alarms",
        "links": [
            "8c8e60fb28563b6a",
            "fdd475a23bc218cb",
            "25f01dfe312facf0",
            "706cbe45f745c45b",
            "7e56c775c78aa003",
            "135741652f9f66e1",
            "ceae2b7d68285817",
            "20ac63c397656c87",
            "466b9202fc44260d"
        ],
        "x": 125,
        "y": 140,
        "wires": [
            [
                "99ba2f2dad83f718",
                "8bb8bb4c1e472815"
            ]
        ]
    },
    {
        "id": "99ba2f2dad83f718",
        "type": "debug",
        "z": "2ed4bce24e139aaa",
        "name": "ALARMS",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 240,
        "y": 80,
        "wires": []
    },
    {
        "id": "e5e7ac692dd0cdd1",
        "type": "inject",
        "z": "2ed4bce24e139aaa",
        "name": "24°C",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Test Temperatura Interna 24C",
        "payload": "24",
        "payloadType": "num",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "8bb8bb4c1e472815"
            ]
        ]
    },
    {
        "id": "8bb8bb4c1e472815",
        "type": "prtg-connector",
        "z": "2ed4bce24e139aaa",
        "server": "667a3bfe6d02ada6",
        "idtoken": "B0433D3D-7C1A-4DF7-9FC0-34489F7DCD5D",
        "message": "topic",
        "messageType": "msg",
        "validation": "ok",
        "timeout": "10000",
        "name": "Conector PRTG - Temperatura Interna Segura",
        "channels": {
            "payload": {
                "channeltype": "str",
                "channel": "Temperatura",
                "unit": "°C",
                "unittype": "str"
            }
        },
        "x": 360,
        "y": 140,
        "wires": [
            [
                "32c07fd483265596"
            ]
        ]
    },
    {
        "id": "32c07fd483265596",
        "type": "debug",
        "z": "2ed4bce24e139aaa",
        "name": "Ambient Node AlarmSent",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 140,
        "wires": []
    },
    {
        "id": "e47d139dcb2e3233",
        "type": "elasticsearch-index",
        "z": "707f5efe3e0b8cc5",
        "name": "",
        "server": "150d27d47bedee72",
        "index": "events",
        "esType": "_doc",
        "esId": "",
        "routing": "",
        "x": 430,
        "y": 100,
        "wires": [
            [
                "05c823912c5e058e"
            ]
        ]
    },
    {
        "id": "05c823912c5e058e",
        "type": "debug",
        "z": "707f5efe3e0b8cc5",
        "name": "Display Event",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 100,
        "wires": []
    },
    {
        "id": "26734297a27848c0",
        "type": "function",
        "z": "707f5efe3e0b8cc5",
        "name": "Ambient Node Event",
        "func": "var now = new Date();\nlet eventMsg = msg.topic + \" \" + msg.payload + \" °C\";\nevent = {\n    \"time\": now,\n    \"level\": msg.level,\n    \"event\": eventMsg\n};\nmsg.payload = event;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 100,
        "wires": [
            [
                "e47d139dcb2e3233"
            ]
        ]
    },
    {
        "id": "024b4f2011f811dc",
        "type": "link in",
        "z": "707f5efe3e0b8cc5",
        "name": "ElasticSearch Event Log",
        "links": [
            "f9a5ef6fe14ce2ae",
            "40c62681cf76d064",
            "94a8c5f48fa191d8"
        ],
        "x": 65,
        "y": 100,
        "wires": [
            [
                "26734297a27848c0"
            ]
        ]
    },
    {
        "id": "b806de5c5d944b3c",
        "type": "comment",
        "z": "707f5efe3e0b8cc5",
        "name": "Events Log Storage.",
        "info": "",
        "x": 110,
        "y": 40,
        "wires": []
    },
    {
        "id": "672fcc97c4e8b0b4",
        "type": "inject",
        "z": "0232b745df08286e",
        "name": "Nodes",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "45",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "0ff878d7e1a4d171"
            ]
        ]
    },
    {
        "id": "3198ddfedac4714f",
        "type": "debug",
        "z": "0232b745df08286e",
        "name": "Nodes Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 200,
        "wires": []
    },
    {
        "id": "86aa4383588cdaad",
        "type": "mqtt out",
        "z": "0232b745df08286e",
        "name": "Publish to IoT-Hub",
        "topic": "devices/DemoStationHub/messages/events/demoStation",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "b64a888cfcb95443",
        "x": 650,
        "y": 100,
        "wires": []
    },
    {
        "id": "c5eefd52aa66d0a2",
        "type": "json",
        "z": "0232b745df08286e",
        "name": "to JSON",
        "property": "payload",
        "action": "str",
        "pretty": false,
        "x": 460,
        "y": 100,
        "wires": [
            [
                "86aa4383588cdaad",
                "8be67ce47698dd70"
            ]
        ]
    },
    {
        "id": "8be67ce47698dd70",
        "type": "debug",
        "z": "0232b745df08286e",
        "name": "JSON Nodes Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 160,
        "wires": []
    },
    {
        "id": "0ff878d7e1a4d171",
        "type": "change",
        "z": "0232b745df08286e",
        "name": "Set Nodes",
        "rules": [
            {
                "t": "delete",
                "p": "payload",
                "pt": "msg"
            },
            {
                "t": "set",
                "p": "payload.ambientNode",
                "pt": "msg",
                "to": "ambientNode",
                "tot": "global",
                "dc": true
            },
            {
                "t": "set",
                "p": "payload.energyNode",
                "pt": "msg",
                "to": "energyNode",
                "tot": "global",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 100,
        "wires": [
            [
                "c5eefd52aa66d0a2",
                "3198ddfedac4714f"
            ]
        ]
    },
    {
        "id": "81d9fea380f5b687",
        "type": "comment",
        "z": "0232b745df08286e",
        "name": "Azure IoT Hub Communication",
        "info": "",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "b49f314d.e60eb",
        "type": "ui_template",
        "z": "a9c9090b.478498",
        "group": "7055536a9c320af4",
        "name": "",
        "order": 13,
        "width": 0,
        "height": 0,
        "format": "<style>\n    \n\n.table\n{\n\n    width:100%;\n    background:lightblue;\nborder:1px solid black;\n//font-size:10px;\n}\n.main\n{\nheight:400px;\n\n}\n</style>\n<div class=\"main\">\n    <table class=\"table\">\n        <tr ng-repeat = \"payload in msg.payload\"><td ng-repeat =\"(key,value) in payload\">{{key}}: {{value}}</td></tr>\n\n    </table>\n    \n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 440,
        "y": 120,
        "wires": [
            [
                "4db0093b.a252f8"
            ]
        ]
    },
    {
        "id": "4db0093b.a252f8",
        "type": "debug",
        "z": "a9c9090b.478498",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 120,
        "wires": []
    },
    {
        "id": "89def998.97df18",
        "type": "inject",
        "z": "a9c9090b.478498",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "15b1e814.b5de"
            ]
        ]
    },
    {
        "id": "15b1e814.b5de",
        "type": "function",
        "z": "a9c9090b.478498",
        "name": "",
        "func": "var payload=[];\nvar obj={\"steve\":63,\"Bella\":56};\npayload.push(obj);\nvar obj={\"shanna\":30,\"saskia\":27};\npayload.push(obj);\nmsg.payload=payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 120,
        "wires": [
            [
                "b49f314d.e60eb"
            ]
        ]
    },
    {
        "id": "e3c6e17dd6e1cf66",
        "type": "ui_gauge",
        "z": "a9c9090b.478498",
        "name": "",
        "group": "7055536a9c320af4",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "80",
        "className": "",
        "x": 530,
        "y": 240,
        "wires": []
    },
    {
        "id": "0f1245ae027aeb20",
        "type": "function",
        "z": "a9c9090b.478498",
        "name": "",
        "func": "\nmsg = {ui_control:{min:msg.payload}};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 300,
        "wires": [
            [
                "e3c6e17dd6e1cf66"
            ]
        ]
    },
    {
        "id": "6ed2938e85adf03c",
        "type": "ui_slider",
        "z": "a9c9090b.478498",
        "name": "",
        "label": "data slider",
        "tooltip": "",
        "group": "7055536a9c320af4",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "topicType": "str",
        "min": 0,
        "max": "100",
        "step": 1,
        "className": "",
        "x": 170,
        "y": 240,
        "wires": [
            [
                "e3c6e17dd6e1cf66"
            ]
        ]
    },
    {
        "id": "e07a8bd11a005076",
        "type": "ui_slider",
        "z": "a9c9090b.478498",
        "name": "",
        "label": "Min slider",
        "tooltip": "",
        "group": "7055536a9c320af4",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "min",
        "topicType": "str",
        "min": 0,
        "max": "40",
        "step": 1,
        "className": "",
        "x": 160,
        "y": 300,
        "wires": [
            [
                "0f1245ae027aeb20"
            ]
        ]
    },
    {
        "id": "1f23a3189aa7aee2",
        "type": "ui_slider",
        "z": "a9c9090b.478498",
        "name": "",
        "label": "Max slider",
        "tooltip": "",
        "group": "7055536a9c320af4",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "max",
        "topicType": "str",
        "min": "60",
        "max": "100",
        "step": 1,
        "className": "",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "a6dd47dcd99b95a0"
            ]
        ]
    },
    {
        "id": "a6dd47dcd99b95a0",
        "type": "function",
        "z": "a9c9090b.478498",
        "name": "",
        "func": "\nmsg = {ui_control:{max:msg.payload}};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 350,
        "y": 360,
        "wires": [
            [
                "e3c6e17dd6e1cf66"
            ]
        ]
    },
    {
        "id": "a142e52bf05db27d",
        "type": "function",
        "z": "a9c9090b.478498",
        "name": "",
        "func": "\nmsg = {ui_control:{seg1:msg.payload, seg2:(100-msg.payload)}};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 420,
        "wires": [
            [
                "e3c6e17dd6e1cf66"
            ]
        ]
    },
    {
        "id": "97e4d8350a71601e",
        "type": "ui_slider",
        "z": "a9c9090b.478498",
        "name": "",
        "label": "Seg slider",
        "tooltip": "",
        "group": "7055536a9c320af4",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "min",
        "topicType": "str",
        "min": 0,
        "max": "40",
        "step": 1,
        "className": "",
        "x": 180,
        "y": 420,
        "wires": [
            [
                "a142e52bf05db27d"
            ]
        ]
    },
    {
        "id": "de919c9d.bae398",
        "type": "function",
        "z": "f8e5092665a76333",
        "name": "",
        "func": "var runtime = msg.runtime || (flow.get('runtime')  || 0);\nvar downtime = msg.downtime || (flow.get('downtime') || 0);\nflow.set(['runtime','downtime'], [runtime, downtime]);\n\nmsg.uptime = runtime - downtime;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "cac8c8ce53e334de",
        "type": "debug",
        "z": "f8e5092665a76333",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 240,
        "wires": []
    },
    {
        "id": "8dfac01b34201284",
        "type": "debug",
        "z": "f8e5092665a76333",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 320,
        "wires": []
    },
    {
        "id": "211895d26ca8718b",
        "type": "function",
        "z": "f8e5092665a76333",
        "name": "Hello Back ",
        "func": "msg.payload = {};\nmsg.payload.type = \"message\";\nmsg.payload.chatId = msg.originalMessage.chat.id\nmsg.payload.content = \"Hello Back, Dear User!!\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 280,
        "wires": [
            [
                "d42d90ef97a40f06"
            ]
        ]
    },
    {
        "id": "c512f590f7c385ac",
        "type": "debug",
        "z": "f8e5092665a76333",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 260,
        "wires": []
    },
    {
        "id": "d2016fbf16138b89",
        "type": "telegram command",
        "z": "f8e5092665a76333",
        "name": "Hello Cmnd",
        "command": "/Hello",
        "description": "Test Cmnd",
        "registercommand": true,
        "language": "es",
        "scope": "default",
        "bot": "607797ee86fa1498",
        "strict": false,
        "hasresponse": true,
        "useregex": false,
        "removeregexcommand": false,
        "outputs": 2,
        "x": 250,
        "y": 280,
        "wires": [
            [
                "211895d26ca8718b",
                "cac8c8ce53e334de"
            ],
            [
                "211895d26ca8718b",
                "8dfac01b34201284"
            ]
        ]
    },
    {
        "id": "d42d90ef97a40f06",
        "type": "telegram sender",
        "z": "f8e5092665a76333",
        "name": "Hello Back",
        "bot": "607797ee86fa1498",
        "haserroroutput": true,
        "outputs": 2,
        "x": 610,
        "y": 280,
        "wires": [
            [
                "c512f590f7c385ac"
            ],
            [
                "4e39d5f8dafd23ba"
            ]
        ]
    },
    {
        "id": "4e39d5f8dafd23ba",
        "type": "debug",
        "z": "f8e5092665a76333",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 300,
        "wires": []
    },
    {
        "id": "64de063f365f1af5",
        "type": "snmp",
        "z": "f8e5092665a76333",
        "host": "192.168.0.200",
        "version": "1",
        "timeout": 5,
        "community": "public",
        "auth": "noAuthNoPriv",
        "authprot": "MD5",
        "privprot": "DES",
        "oids": "1.3.6.1.2.1.1.1.0,\n1.3.6.1.4.1.18284.1.3.1.3.1.1.0,\n1.3.6.1.4.1.18284.1.3.1.1.1.1.2.0,\n1.3.6.1.4.1.18284.1.3.1.1.1.1.3.0",
        "name": "",
        "x": 420,
        "y": 380,
        "wires": [
            [
                "b64583c61a79f138"
            ]
        ]
    },
    {
        "id": "71cdb5451afe5345",
        "type": "inject",
        "z": "f8e5092665a76333",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 380,
        "wires": [
            [
                "64de063f365f1af5"
            ]
        ]
    },
    {
        "id": "b64583c61a79f138",
        "type": "debug",
        "z": "f8e5092665a76333",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "e20ed8cc6bdbedf8",
        "type": "snmp table",
        "z": "f8e5092665a76333",
        "host": "192.168.0.200",
        "version": "1",
        "timeout": 5,
        "community": "public",
        "auth": "noAuthNoPriv",
        "authprot": "MD5",
        "privprot": "DES",
        "oids": "1.3.6.1.4.1.18284.1.3.1.1.1.1",
        "name": "",
        "x": 430,
        "y": 440,
        "wires": [
            [
                "c2339f3ed713c9d3"
            ]
        ]
    },
    {
        "id": "6bb0928f1579e700",
        "type": "inject",
        "z": "f8e5092665a76333",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 440,
        "wires": [
            [
                "e20ed8cc6bdbedf8"
            ]
        ]
    },
    {
        "id": "413c76638d982bbf",
        "type": "snmp walker",
        "z": "f8e5092665a76333",
        "host": "192.168.0.200",
        "version": "1",
        "timeout": 5,
        "community": "public",
        "auth": "noAuthNoPriv",
        "authprot": "MD5",
        "privprot": "DES",
        "oids": "1.3.6.1.2.1.1.1",
        "name": "",
        "x": 440,
        "y": 500,
        "wires": [
            [
                "38db41576f91b162"
            ]
        ]
    },
    {
        "id": "b9977e62ce337964",
        "type": "inject",
        "z": "f8e5092665a76333",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 500,
        "wires": [
            [
                "413c76638d982bbf"
            ]
        ]
    },
    {
        "id": "c2339f3ed713c9d3",
        "type": "debug",
        "z": "f8e5092665a76333",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "38db41576f91b162",
        "type": "debug",
        "z": "f8e5092665a76333",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 500,
        "wires": []
    },
    {
        "id": "80a43a24fafb1b40",
        "type": "elasticsearch-index",
        "z": "f8e5092665a76333",
        "name": "",
        "server": "150d27d47bedee72",
        "index": "events",
        "esType": "_doc",
        "esId": "",
        "routing": "",
        "x": 550,
        "y": 620,
        "wires": [
            [
                "3102cedd03730df3"
            ]
        ]
    },
    {
        "id": "3102cedd03730df3",
        "type": "debug",
        "z": "f8e5092665a76333",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 620,
        "wires": []
    },
    {
        "id": "7ea1338172b51909",
        "type": "inject",
        "z": "f8e5092665a76333",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 620,
        "wires": [
            [
                "11d0239e7a7c85e3"
            ]
        ]
    },
    {
        "id": "11d0239e7a7c85e3",
        "type": "function",
        "z": "f8e5092665a76333",
        "name": "function 2",
        "func": "var now = new Date();\nevent = {\n    \"time\": now,\n    \"level\": \"warning\",\n    \"event\": \"Something happend now too.\"\n};\nmsg.payload = event;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 620,
        "wires": [
            [
                "80a43a24fafb1b40"
            ]
        ]
    },
    {
        "id": "a738fc7e26844720",
        "type": "inject",
        "z": "f8e5092665a76333",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 410,
        "y": 720,
        "wires": [
            [
                "6278ec95e54420cf"
            ]
        ]
    },
    {
        "id": "6278ec95e54420cf",
        "type": "elasticsearch-deleteByQuery",
        "z": "f8e5092665a76333",
        "name": "Delete All",
        "server": "150d27d47bedee72",
        "index": "events",
        "esType": "_doc",
        "x": 560,
        "y": 720,
        "wires": [
            [
                "3102cedd03730df3"
            ]
        ]
    },
    {
        "id": "d6b4ebfcf6b94c1e",
        "type": "buttons",
        "z": "4092d94aafd6cd17",
        "name": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "ac6e1a3c0c652665"
            ]
        ]
    },
    {
        "id": "ac6e1a3c0c652665",
        "type": "debug",
        "z": "4092d94aafd6cd17",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 80,
        "wires": []
    },
    {
        "id": "c0ae57d8d10522fc",
        "type": "accelerometer",
        "z": "4092d94aafd6cd17",
        "name": "",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "96163321e4c5ffec"
            ]
        ]
    },
    {
        "id": "96163321e4c5ffec",
        "type": "debug",
        "z": "4092d94aafd6cd17",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 220,
        "wires": []
    },
    {
        "id": "8bf5a488e484ef7c",
        "type": "led_sta_green",
        "z": "4092d94aafd6cd17",
        "name": "",
        "x": 880,
        "y": 80,
        "wires": []
    },
    {
        "id": "45c243d6007098af",
        "type": "led_sta_red",
        "z": "4092d94aafd6cd17",
        "name": "",
        "x": 870,
        "y": 220,
        "wires": []
    },
    {
        "id": "bb36d7fe0771dee4",
        "type": "led_usr_green",
        "z": "4092d94aafd6cd17",
        "name": "",
        "x": 880,
        "y": 400,
        "wires": []
    },
    {
        "id": "f59a1f6f456b3d82",
        "type": "inject",
        "z": "4092d94aafd6cd17",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 650,
        "y": 400,
        "wires": [
            [
                "bb36d7fe0771dee4"
            ]
        ]
    },
    {
        "id": "be3c349ad01799ca",
        "type": "inject",
        "z": "4092d94aafd6cd17",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 650,
        "y": 440,
        "wires": [
            [
                "bb36d7fe0771dee4"
            ]
        ]
    },
    {
        "id": "6218e1ca0a3cde93",
        "type": "comment",
        "z": "4092d94aafd6cd17",
        "name": "Get buttons status.",
        "info": "",
        "x": 130,
        "y": 40,
        "wires": []
    },
    {
        "id": "66cc6b4133b7c90d",
        "type": "comment",
        "z": "4092d94aafd6cd17",
        "name": "Get accelerometer sensor value.",
        "info": "",
        "x": 170,
        "y": 180,
        "wires": []
    },
    {
        "id": "fc3c346828e99aec",
        "type": "comment",
        "z": "4092d94aafd6cd17",
        "name": "Turn STA LED to green.",
        "info": "",
        "x": 680,
        "y": 40,
        "wires": []
    },
    {
        "id": "9776933cca3f98d4",
        "type": "comment",
        "z": "4092d94aafd6cd17",
        "name": "Turn STA LED to red.",
        "info": "",
        "x": 680,
        "y": 180,
        "wires": []
    },
    {
        "id": "931ecb6864a57fba",
        "type": "comment",
        "z": "4092d94aafd6cd17",
        "name": "Turn USR LED to green.",
        "info": "",
        "x": 690,
        "y": 360,
        "wires": []
    },
    {
        "id": "a08066e92cfc1a1f",
        "type": "inject",
        "z": "4092d94aafd6cd17",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 650,
        "y": 240,
        "wires": [
            [
                "45c243d6007098af"
            ]
        ]
    },
    {
        "id": "3f354196ccefc8e5",
        "type": "inject",
        "z": "4092d94aafd6cd17",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 650,
        "y": 280,
        "wires": [
            [
                "45c243d6007098af"
            ]
        ]
    },
    {
        "id": "5828d20d3c21aa15",
        "type": "inject",
        "z": "4092d94aafd6cd17",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 650,
        "y": 80,
        "wires": [
            [
                "8bf5a488e484ef7c"
            ]
        ]
    },
    {
        "id": "e160f3e85690820e",
        "type": "inject",
        "z": "4092d94aafd6cd17",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 650,
        "y": 120,
        "wires": [
            [
                "8bf5a488e484ef7c"
            ]
        ]
    },
    {
        "id": "d4813edd60e9c3bd",
        "type": "buzzer",
        "z": "4092d94aafd6cd17",
        "name": "",
        "x": 850,
        "y": 560,
        "wires": []
    },
    {
        "id": "8fdb3b50b5876ea5",
        "type": "comment",
        "z": "4092d94aafd6cd17",
        "name": "Set buzzer.",
        "info": "",
        "x": 640,
        "y": 520,
        "wires": []
    },
    {
        "id": "a14c49e7123ef758",
        "type": "inject",
        "z": "4092d94aafd6cd17",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 650,
        "y": 560,
        "wires": [
            [
                "d4813edd60e9c3bd"
            ]
        ]
    },
    {
        "id": "0073ba0b53706192",
        "type": "inject",
        "z": "4092d94aafd6cd17",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 650,
        "y": 600,
        "wires": [
            [
                "d4813edd60e9c3bd"
            ]
        ]
    },
    {
        "id": "dd9ca714b1a05bdb",
        "type": "comment",
        "z": "4092d94aafd6cd17",
        "name": "Get light sensor value.",
        "info": "",
        "x": 140,
        "y": 320,
        "wires": []
    },
    {
        "id": "26606a8cf26964d0",
        "type": "light_sensor",
        "z": "4092d94aafd6cd17",
        "name": "",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "c3c0cfebe0b19ce2"
            ]
        ]
    },
    {
        "id": "c3c0cfebe0b19ce2",
        "type": "debug",
        "z": "4092d94aafd6cd17",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 360,
        "wires": []
    },
    {
        "id": "7a98534ab70f03cd",
        "type": "touch_panel",
        "z": "4092d94aafd6cd17",
        "name": "",
        "x": 120,
        "y": 500,
        "wires": [
            [
                "708abdb0422fb69c"
            ]
        ]
    },
    {
        "id": "2170538cc673b520",
        "type": "comment",
        "z": "4092d94aafd6cd17",
        "name": "Get touch position.",
        "info": "",
        "x": 130,
        "y": 460,
        "wires": []
    },
    {
        "id": "708abdb0422fb69c",
        "type": "debug",
        "z": "4092d94aafd6cd17",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 430,
        "y": 500,
        "wires": []
    }
]